/*@import "../fonts/font.css";*/
@import url(//db.onlinewebfonts.com/c/1545e0a0d58caedb845e5884d5cfc762?family=STC+Forward);
* {
    font-family: "STC Forward Medium" !important;
}

.fa,
.fas {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900;
}
.fab {
    font-family: "Font Awesome 5 Brands" !important;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

ul,
li {
    list-style: none;
}

/*  */

body {
    direction: rtl;
    font-size: 16px;
    text-align: right;
    color: var(--foreground);
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background);
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 144px;
    height: 48px;
}

.btn-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background-color: var(--background);
    border: 1px solid var(--primary);
    border-radius: 5px;
    width: 100%;
    max-width: 144px;
    height: 48px;
}

.btn-secondary:hover {
    color: var(--background);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary.focus,
.btn-secondary:focus {
    color: var(--background);
    background-color: var(--primary);
    border-color: var(--primary);
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
    color: var(--background);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-select {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background-color: var(--background);
    border: 1px solid var(--primary);
    border-radius: 5px;
    width: 100%;
    max-width: 100px;
    height: 36px;
}

.primary {
    color: var(--primary);
}

.secondary {
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

.secondary:hover {
    color: var(--background);
    background-color: var(--secondary);
    border-color: var(--secondary);
}

a {
    text-decoration: none !important;
}

h1 {
    font-size: 1.875rem;
}

h1::after {
    content: "";
    border-bottom: 5px solid var(--primary);
    display: flex;
    width: 100%;
    border-radius: 20px;
    margin-top: 10px;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 1.25rem;
}

h4::after {
    content: "";
    border-bottom: 2px solid var(--secondary);
    display: flex;
    width: 38px;
    border-radius: 20px;
    margin-top: 10px;
}

h5 {
    font-size: 3.75rem;
}

.tertiary-bg {
    background-color: #fff;
}

/*  */

.nav {
    background-color: var(--primary);
    height: 48px;
    z-index: 1040;
}

.nav .social-media.icons img {
    width: 100%;
    height: 100%;
    max-width: 18px;
    max-height: 18px;
}

.nav .right a {
    color: white;
}

.nav .right a {
    color: rgba(255, 255, 255, 0.87);
}

.nav .right a img {
    padding-left: 10px;
}

.nav .right a:hover {
    color: white;
}

.nav .nav-link {
    display: flex;
    align-items: center;
}

.nav .row {
    height: 100%;
    margin: 0;
}

.social-media.icons .nav-link {
    padding: 0;
    padding-right: 16px;
}

/*  */

.navbar {
    height: 100px;
    padding: 0;
    top: 0;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
    justify-content: flex-start;
    display: flex;
    flex: 1;
    margin-right: 0px;
}

.navbar .navbar-brand img {
    height: 100%;
    max-height: 90px;
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.navbar .row {
    width: 100%;
    margin: 0;
}

.navbar-links .nav-link {
    padding: 0;
    padding-right: 16px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--foreground);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--foreground);
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: var(--primary);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--primary) !important;
}

.navbar .navbar-collapse {
    justify-content: space-between;
}

.navbar-nav {
    padding-right: 0;
    margin-right: 0px !important;
    flex: 2;
    display: flex;
    justify-content: space-around;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.breadcrumb {
    background: none !important;
}

.breadcrumb-item a {
    color: #000;
}

.breadcrumb-item.active {
    color: var(--primary) !important; /* ac */
}

.nav-item.active a,
.nav-item:hover a {
    color: var(--primary) !important; /* ac */
    border-bottom: 2px solid var(--primary);
}

.navbar-links {
    flex: 0;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: var(--primary) !important; /* ac */
}

.navbar-light .navbar-nav .nav-link {
    color: #000 !important;
    font-size: 15px;
    font-weight: 400;
}

.arrow-down {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(0, -50%);
    z-index: 9;
}

.search-box-inr {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}
.nav-link img {
    width: 25px;
    height: 25px;
}

.log-icons-funcs-logout .nav-link p {
    margin: 0;
}

/*  */

.home-page {
    margin-top: 115px;
}

.header {
    margin-top: 115px;
    max-height: 50vh;
}

.footer {
    background-color: var(--primary);
    padding: 60px 0 5px;
}

.f-social-link {
    border-bottom: 1px solid #fff;
}

.footer-ul {
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
}

.footer-ul .nav-link {
    color: #fff;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.footer-ul .nav-link:hover {
    color: #fff;
}

.footer-ul .nav-link i,
.footer-ul .nav-link img {
    padding-right: 5px;
}

.f-pay-main {
    padding: 30px 0;
}

.f-link {
    margin-bottom: 20px;
}

.footer-copyright {
    color: #fff;
}

.main-page {
    background-color: #fff;
}

.src-box-inr {
    display: flex;
    position: relative;
    margin-bottom: 0 !important;
}

.src-box-inr input.form-control {
    padding-right: 30px;
}
.src-box-inr form {
    display: block;
    width: 100%;
}
.src-box-inr select.form-control {
    /*margin-left: 10px;*/
    z-index: 1;
    color: #000;
    font-size: 13px;
}

.src-box-inr .form-control {
    border-radius: 23px;
}

.cart-bg {
    background-color: var(--primary);
    padding: 2px 5px;
    border-radius: 28px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.cart-bg a img {
    width: 25px;
}

.cart-bg span {
    color: #ff0000;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 15px;
    line-height: 12px;
}

.acc-box {
    padding: 40px;
    border: 1px solid #e6e6e6;
    text-align: center;
    box-shadow: 0 2px 4px #0e567c16;
    margin-bottom: 30px;
    border-radius: 10px;
}

.acc-img {
    margin-bottom: 25px;
    width: 195px;
    height: 65px;
}

.acc-img img {
    height: 65px;
}

.acc-img-info h3 {
    margin-bottom: 23px !important;
    margin: 0;
    font-size: 25px;
    min-height: 65px;
}

.acc-img-info {
    min-height: 175px;
}

.input-group-append .btn {
    background-color: rgba(224, 224, 224, 33%);
    border: 1px solid rgba(0, 0, 0, 28%);
    border-radius: 0 50px 50px 0;
}

.input-group-prepend .btn {
    border: none;
    background-color: rgba(224, 224, 224, 33%);
    border-top: 1px solid rgba(0, 0, 0, 28%);
    border-bottom: 1px solid rgba(0, 0, 0, 28%);
    border-radius: 0;
}

.amount-last input.form-control {
    border-right: none;
    border-radius: 50px 0 0 50px !important;
    border-color: rgba(0, 0, 0, 28%);
}

.acc-img-info span {
    font-weight: 400;
    color: #8c97ac;
    font-size: 16px;
}

.contact-inr {
    text-align: center;
    padding: 30px;
    box-shadow: 0 10px 35px #00000015;
    background-color: #fff;
}

.sec-title {
    position: relative;
    margin-bottom: 30px;
}

.sec-title h2 {
    color: #4d504a;
    font-size: 35px;
    font-weight: 400;
}

.pagination-main {
    display: flex;
    justify-content: center;
}

.pagination {
    justify-content: center;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border-radius: 100% !important;
}

.page-link {
    padding: 5px 15px !important;
    border-radius: 100%;
    border: none !important;
    font-size: 20px;
    font-weight: 400;
    color: var(--primary) !important;
}

.page-link.active {
    background-color: var(--primary) !important;
    color: #fff !important;
}

.page-link:hover {
    background-color: var(--primary) !important;
    color: #fff !important;
}

.con-so-inr {
    margin-bottom: 30px;
    position: relative;
}

.select-arrow {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

.select-arrow i {
    color: #a2a4a0;
}

.con-so-inr .form-control {
    border: 1px solid #ded1bf;
    color: #9b9b9b !important;
    font-weight: 400;
}

.contact-fo h3 {
    font-size: 24px;
    font-weight: 400;
    color: #9b9b9b;
    margin-bottom: 40px;
}

.con-so-inr .form-control::placeholder {
    color: #9b9b9b;
}

.fo-bt {
    width: 100%;
    background-color: var(--primary) !important;
    color: #fff !important;
    padding: 10px !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}

.error-img {
    margin-bottom: 30px;
}

.error-img img {
    width: 150px !important;
}

.error-inr .sec-title h2 {
    margin: 0 !important;
    font-size: 40px !important;
}

.error-inr .sec-title {
    margin: 0 !important;
}

.contact-inr .sec-title h2:before {
    content: "";
    position: absolute;
    background-image: url(../img/ornament.svg);
    background-position: center;
    width: 30%;
    background-repeat: no-repeat;
    height: 20px;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 10px);
}

/* slider css */

.above-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.above-img span {
    background-color: var(--primary); /* ac */
    padding: 12px 10px;
    border-radius: 50%;
    position: absolute;
    top: 3%;
    left: 5%;
}

.above-img span img {
    margin: -3px 0 0 -3px;
    width: 20px;
}

.above-img-bt-bg {
    background-color: #fef2de !important;
    padding: 5px 20px !important;
    border-radius: 20px !important;
    color: #f5a623 !important;
    position: absolute;
    top: 3%;
    right: 1%;
}

.project-done-swiper {
    box-shadow: 0 2px 4px rgba(14, 86, 124, 16%);
    padding: 10px;
    position: relative;
}

.swiper-slide .img {
    margin-bottom: 20px;
}

.swiper-slide {
    text-decoration: none;
}

.home-slide {
    margin-bottom: 60px;
}

.home-slide .swiper {
    position: relative;
    height: 450px;
    border-radius: 30px;
}

.home-slide .swiper-button-next,
.home-slide .swiper-button-prev {
    outline: none;
    position: absolute;
    z-index: 1;
    top: 80%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.home-slide .swiper-button-next .csb,
.home-slide .swiper-button-prev .csb {
    color: #fff;
    font-size: 26px;
    width: 42px;
    height: 42px;
    border: 3px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-slide .swiper-button-next:after,
.home-slide .swiper-button-prev:after {
    display: none;
}

.home-slide .swiper-slide img:not([src]) {
    visibility: visible !important;
}

.home-slide .swiper-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #000;
    padding: 30px;
    z-index: 0;
}

.home-slide .swiper-slide.swiper-slide-active .title,
.home-slide .swiper-slide.swiper-slide-active .d-bt {
    animation: fadeInUp;
    animation-duration: 1s;
}

.home-slide .swiper-slide .title {
    color: #fff;
    font-size: 4rem;
}

.home-slide .swiper-slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    opacity: 0.7;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.home-slide .swiper-button-next {
    left: 15% !important;
    right: auto;
}

.home-slide .swiper-button-prev {
    left: 10% !important;
    right: auto !important;
}

.d-bt {
    background: #fff !important;
    width: 100px;
    padding: 10px 30px !important;
    border-radius: 28px !important;
}

.home-slide .swiper-slide.swiper-slide-active .title {
    padding-bottom: 170px;
}

/* slider css */

.categories-swiper {
    margin-bottom: 20px;
}

.categories-title h2 {
    font-size: 40px;
    padding-right: 20px;
}

.categories .swiper-button-next,
.categories .swiper-button-prev {
    outline: none;
    position: absolute;
    z-index: 1;
    top: 2%;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
}

.categories .swiper-button-next .csb,
.categories .swiper-button-prev .csb {
    color: #707070;
    font-size: 26px;
    width: 42px;
    height: 42px;
    border: 3px solid #707070;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories .swiper-button-next:after,
.categories .swiper-button-prev:after {
    display: none;
}

.categories .swiper-button-prev {
    left: 13% !important;
}

.categories .swiper-button-next {
    right: 82% !important;
}

.categories-swiper .swiper-slide {
    padding: 20px;
}

.donation-info {
    min-height: 100px;
}

.donation-info h3,
p {
    color: #1d293f;
}

.donation-info h3 {
    min-height: 45px;
}

.mt-100 {
    margin-top: 200px;
}

.progress {
    width: 80px;
    height: 80px !important;
    float: left;
    line-height: 150px;
    background: #fff !important;
    margin-right: 20px;
    box-shadow: none;
    position: relative;
}

.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 1px;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}

.progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #fff;
    font-size: 18px;
    color: var(--primary); /* ac */
    line-height: 135px;
    text-align: center;
    margin-top: -30px;
}

.progress.blue .progress-bar {
    border-color: var(--primary); /* ac */
}

.progress.blue .progress-left .progress-bar {
    animation: loading-3 1.5s linear forwards 1.8s;
}

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}

@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
}

.donation-amount-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    min-height: 85px;
}

/*.d-amount-price{*/
/*    display:flex;*/
/*   flex-direction: column;*/
/*}*/

.d-amount-price .btn {
    padding: 10px 30px !important;
    border: 1px solid #000;
    border-radius: 28px;
    margin-bottom: 10px;
    font-size: 14px;
}

.amount-offer {
    display: flex;
    margin-bottom: 20px;
    min-height: 25px;
}

.amount-offer-inr span {
    margin-right: 20px;
    color: #000;
    font-size: 16px;
}

.amount-offer-inr h3 {
    font-size: 18px;
    margin: 0;
    margin-right: 10px;
    color: #50b1c3;
}

.am-inr {
    margin-right: 20px;
}

.add-am-bt {
    width: 120px;
    border: 1px solid rgba(36, 34, 34, 18%) !important;
    color: rgba(36, 34, 34, 25%) !important;
    padding: 10px 25px !important;
    border-radius: 28px !important;
    white-space: nowrap;
    margin: 0 5px;
}

.amount-basket {
    background-color: var(--primary);
    border-radius: 28px;
    position: relative;
}

.amount-basket span {
    color: #ff0000;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 18px;
    line-height: 12px;
}

.amount-last {
    display: flex;
    align-items: center;
}

.amount-last .btn-number {
    padding: 6px 8px;
}

.amount-basket .btn.secondarybtn {
    display: none;
}

.bas-left {
    margin-left: 5px;
}

.amount-last input {
    height: 38px;
}

.categories-bt .btn {
    padding: 10px 20px;
    border-radius: 28px;
    color: #fff;
    font-size: 20px;
    background-color: var(--primary);
}

.categories-bt .btn:hover {
    color: #fff !important;
    opacity: .90;
}

/* project css  */

.p-done {
    opacity: 0.5;
}

.project-main nav .nav {
    background-color: transparent;
    border: none;
    height: 34px;
    margin-bottom: 20px;
}

.project-main nav .nav .nav-link {
    padding: 5px 30px;
    border: 1px solid rgba(19, 19, 19, 25%);
    border-radius: 50px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 19, 25%);
}

.project-main nav .nav .nav-link.active {
    background-color: var(--primary); /* ac */
    color: #fff;
}

.project-main nav .nav .nav-link {
    margin-left: 20px;
}

.project-box {
    margin-bottom: 30px;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    /*border: 1px solid rgba(14, 86, 124, 100%);*/
    box-shadow: 0 1px 5px rgba(14, 86, 124, 30%);
    height: 100%;
}

.img img.project-img {
    /* max-width: 354px; */
    width: 100%;
    height: 150px;
    border-radius: 15px;
}

.categories-swiper .swiper-slide {
    border: 1px solid rgba(14, 86, 124, 100%);
    border-radius: 10px;
    box-shadow: none;
}

.project-box:hover {
    /*box-shadow: 0 1px 5px rgba(14, 86, 124, 30%);*/
}

.categories-swiper .swiper-slide:hover {
    box-shadow: 0 1px 5px rgba(14, 86, 124, 30%);
}

.project-box-done .add-am-bt {
    background-color: rgba(36, 34, 34, 18%) !important;
}

.d-amount-price .btn.active {
    background-color: var(--primary); /* ac */
    color: #fff;
    border: none;
}

.project-main .d-amount-price .btn {
    padding: 7px 10px !important;
}

.project-main .add-am-bt {
    padding: 7px 20px !important;
}

.project-done {
    padding: 10px 30px;
    text-align: center;
    font-size: 49px;
    background-color: rgba(219, 219, 219, 74%);
    color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: rotate(30deg);
}

.project-box-img .img-inr {
    height: 300px;
}

/* cart */

.cart-title {
    margin-bottom: 50px;
}

.cart-inr-left .cart-title {
    margin-bottom: 15px;
}

.cart-title h2,
.profile-title h2 {
    font-size: 25px;
    color: #000;
    font-weight: 600;
    margin: 0;
}

.cart-inr {
    padding: 15px 0 30px 0;
    box-shadow: 0 10px 35px #00000015;
    background-color: #fafafa;
    position: relative;
}

.cart-inr-left {
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ebebeb;
}

.cart-info-inr p {
    margin-bottom: 20px;
    color: var(--primary); /* ac */
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.cart-pay-img {
    width: 100px;
    margin-bottom: 10px;
}

.pay-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.pay-img img {
    width: 50px;
}

.cart-pay-fo {
    margin-bottom: 10px;
}

.cart-pay-fo input {
    border-radius: 30px;
    text-align: end;
}

.cart-pay-fo button {
    background-color: var(--primary);
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding: 5px 25px;
    border-radius: 28px;
}

.cart-inr-right .alert-dismissible {
    padding: 10px !important;
    background-color: #d1f1f7;
    border-color: #d1f1f7;
    color: #000 !important;
}

.cart-counter-title h2,
.cart-price h2,
.cart-img-info h3,
.cart-img-info p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}
.cart-info h3 {
    font-size: 16px;
    font-weight: bold;
}

/*.cart-counter{*/
/*    margin-top:20px;*/
/*}*/
.cart-right-img {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.cart-right-img .cart-img-info {
    margin-right: 10px;
}
.cls-bt {
    padding: 8px 10px;
    background: #a3c2c6 !important;
    border-radius: 50px;
}

.cart-counter-inr {
    display: flex;
}

.cart-counter-bt {
    display: flex;
    flex-direction: column;
}

.cart-counter-inr .input-number {
    width: 25px;
    padding: 5px;
    border-radius: 10px 0 0 10px;
    background-color: rgba(167, 193, 198, 45%);
    border: none;
}

/*.cart-right-inr {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*}*/

.cart-right-inr .close {
    background: none;
    border: none;
}

.cart-right-inr .close span {
    font-size: 20px;
}

/*.basket-bag{position: absolute;bottom: 0;}*/

.cart-counter-bt a.btn {
    padding: 3px 5px;
    font-size: 10px;
    background-color: #a7c1c6;
}

.co-plus {
    border-radius: 0 10px 0 0 !important;
}

.co-minus {
    border-radius: 0 0 10px 0 !important;
}

/* cart */

#go-up.active {
    right: 30px;
}

#go-up {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    position: fixed;
    z-index: 100;
    right: -50px;
    bottom: 100px;
    border-radius: 50%;
    padding: 3px 10px;
    transition: 0.33s;
    opacity: 0.5;
}

#go-up i {
    font-size: 32px;
    color: #fff;
}

/* profile */

.proflie-inr {
    padding: 15px 30px;
    box-shadow: 0 10px 35px #00000015;
    background-color: #fafafa;
}

.profile-info nav .nav {
    background-color: transparent;
    border: none;
    height: 34px;
    margin-bottom: 20px;
    flex-wrap: nowrap !important;
}

.profile-info nav .nav .nav-link.active {
    background-color: var(--primary); /* ac */
    color: #fff !important;
}

.profile-info nav .nav .nav-link {
    padding: 5px 30px;
    border: 1px solid rgba(19, 19, 19, 25%);
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(19, 19, 19, 25%) !important;
    margin-left: 20px;
}

.profile-info-img {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 8%);
    margin-bottom: 30px;
}

.profile-info-img img {
    width: 100px !important;
    border-radius: 100%;
    margin-left: 30px;
}

.profile-info-fo input {
    border-radius: 30px;
    font-size: 12px;
}

.profile-info-fo {
    margin-bottom: 10px;
}

.profile-info-bt {
    text-align: left;
    margin-top: 75px;
}

.profile-info-bt button.btn {
    padding: 5px 30px !important;
    background-color: var(--primary); /* ac */
    border-radius: 20px;
    border: 1px solid rgba(19, 19, 19, 25%);
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.profile-info .tab-content {
    padding: 10px 20px;
}

.reg-details {
    background-color: #d1f1f7;
    padding: 10px 25px;
    border-radius: 10px;
    max-height: 270px;
    overflow: auto;
}

.reg-details-inr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reg-details-inr h2 {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.reg-details-inr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 8%);
}

.reg-pro-num span {
    padding: 5px;
    background-color: rgba(167, 193, 198, 30%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
}

.reg-pro-info {
    min-width: 150px;
}

.reg-price-info span {
    font-size: 12px;
    font-weight: 400;
}

.reg-file span {
    padding: 5px 7px;
    background-color: antiquewhite;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 20%);
}

.reg-file span img {
    margin-top: -5px;
}

/* profile */

.donation-inr {
    padding: 80px 40px;
    text-align: center;
    position: relative;
    background-color: #fafafa;
    border-radius: 40px;
    box-shadow: 0 10px 35px #00000015;
}

.donation-inr h2 {
    font-size: 25px;
    font-weight: 400;
    color: #000;
}

.left-wing {
    position: absolute;
    left: -9%;
    top: 15%;
}

.right-wing {
    position: absolute;
    right: -3%;
    top: 37%;
}

.side-menu {
    position: fixed;
    top: 25%;
    right: -150px;
    transform: translate(0, -50%);
}
.side-menu:hover {
    right: -2px;
}

.side-menu-inr {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid rgba(112, 112, 112, 28%);
    border-radius: 30px 0 0 30px;
    padding-right: 30px;
}

.side-menu-inr img {
    width: 40px;
}

.side-menu-inr h2 {
    margin-left: 20px !important;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

.sidebar-cart {
    width: 250px;
    position: fixed;
    top: 27%;
    right: 0;
}

.sidebar-menu-main {
    position: relative;
    z-index: 1;
}

.sidebar-cart {
    display: none;
}

/*.sidebar:hover .sidebar-cart{
    display: block;
}*/

.page-item {
    padding: 0 5px;
}

/* Pagination */
.pagination .page-item.active .page-link {
    color: #fff !important;
    background-color: var(--primary);
}

.circleGraphic {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 50%;
}

.getIds {
    display: none;
}

/* cart item plus minus */

/* ==================== */

/* cart product incriment decriment */

* {
    box-sizing: border-box;
}

.number-input {
    margin: 1em auto;
    max-width: 70px;
    position: relative;
    width: 95%;
}

.number-input input {
    background-color: rgba(255, 255, 255, 0.65);
    border: 1px solid #666;
    border-right: 0;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.45);
    font-size: 1.5em;
    border-radius: 5px;
    overflow: hidden;
    padding: 0.15em 1.5em;
    height: 51px;
    padding: 0.15em 0.15em 0.15em 0.5em;
    position: relative;
    transition: 0.5s ease all;
    z-index: 0;
    width: 100%;
}

.number-input input:focus,
.number-input input:active {
    background-color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.75);
    outline: none;
    transition: 0.5s ease all;
}

.buttons {
    border-left: 1px solid #666;
    border-radius: 0 5px 5px 0 0;
    overflow: hidden;
    float: left;
    top: 1px;
    position: absolute;
    right: 0;
    width: 26px;
    z-index: 1;
}

.increment,
.decrement {
    background: #e1e1e1;
    border-right: 1px solid #444;
    font-weight: bold;
    cursor: pointer;
    display: block;
    float: left;
    height: 26px;
    padding: 0.15em 0;
    text-align: center;
    vertical-align: middle;
    margin-top: -1px;
    width: 25px;
    z-index: 2;
}

.increment:hover,
.decrement:hover {
    background: #c8c8c8;
}

.increment::selected,
.decrement::selected {
    background: #e1e1e1;
}

.increment {
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    border-radius: 0 5px 0 0;
}

.decrement {
    border-radius: 0 0 5px 0;
    border-bottom: 1px solid #444;
}

* {
    box-sizing: border-box;
}

.number-input {
    margin: 0 auto;
    max-width: 70px;
    position: relative;
    width: 95%;
}

.number-input input {
    background-color: rgba(255, 255, 255, 0.65);
    border: 1px solid #666;
    border-right: 0;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.45);
    font-size: 1.5em;
    border-radius: 5px;
    overflow: hidden;
    padding: 0.15em 1.5em;
    height: 51px;
    padding: 0.15em 0.15em 0.15em 0.5em;
    position: relative;
    transition: 0.5s ease all;
    z-index: 0;
    width: 100%;
}

.number-input input:focus,
.number-input input:active {
    background-color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.75);
    outline: none;
    transition: 0.5s ease all;
}

.buttons {
    border-left: 1px solid #666;
    border-radius: 0 5px 5px 0 0;
    overflow: hidden;
    float: left;
    top: 1px;
    position: absolute;
    right: 0;
    width: 26px;
    z-index: 1;
}

.increment,
.decrement {
    background: #e1e1e1;
    border-right: 1px solid #444;
    font-weight: bold;
    cursor: pointer;
    display: block;
    float: left;
    height: 26px;
    padding: 0.15em 0;
    text-align: center;
    vertical-align: middle;
    margin-top: -1px;
    width: 25px;
    z-index: 2;
}

.increment:hover,
.decrement:hover {
    background: #c8c8c8;
}

.increment::selected,
.decrement::selected {
    background: #e1e1e1;
}

.increment {
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    border-radius: 0 5px 0 0;
}

.decrement {
    border-radius: 0 0 5px 0;
    border-bottom: 1px solid #444;
}

.pop-design .modal-content .close {
    border: none;
    background: none;
    font-size: 25px;
}

.pop-design .modal-content .login-popup-inr .form-group {
    margin-bottom: 20px;
}

.pop-design
    .modal-content
    .login-popup-inr
    .form-group
    .input-group-prepend
    .input-group-text {
    padding: 10px;
    margin-left: 5px;
}

.d-amount-price .btn:focus {
    background-color: var(--primary); /* ac */
    color: #fff;
    border: none;
    box-shadow: none;
}

.share-link {
    display: flex;
    justify-content: center;
}

.share-link input.form-control {
    border-radius: 0 15px 15px 0;
    padding: 10px;
    max-width: 320px;
    border-left: none;
}

.share-link button.btn {
    border-radius: 15px;
    padding: 10px;
    margin-right: -15px;
    position: relative;
    border-color: #cdd4da;
    background-color: rgba(9, 147, 172);
    color: #fff;
}

.share-link {
    align-items: center;
    border: 2px solid #d7d7d7;
    border-radius: 30px;
    display: flex;
    margin-bottom: 30px;
    position: relative;
    top: 15px;
}
.share-link button.btn {
    border-radius: 15px;
    padding: 10px;
    margin-right: -15px;
    position: relative;
    border-color: #cdd4da;
    background-color: rgba(13, 143, 117, 0.8);
    color: #fff;
}

.share-link input {
    border: none;
    color: #8d8d8d;
    flex: 1;
    font-size: 16px;
    height: 28px;
    margin: 0 5px;
    outline: none;
}
.btn-primary-green:focus,
.btn-primary-green:hover {
    background: rgba(13, 143, 117, 0.8);
    color: #fff;
    outline: none;
}
/* .social-icons .btn>div img {
    max-height: 50%;
    max-width: 100%;
} */

.text-primary-green {
    color: #0d8f75 !important;
}
.link-label .text {
    color: #1b4f5f;
    font-size: 18px;
}

/*.fab, .fa{*/
/*    font-family:'Font Awesome 5 Brands' !important;*/
/*}*/

.li-whatsapp {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0ec244;
    border-radius: 50%;
    margin: 0 20px;
}
.li-whatsapp i {
    font-size: 25px;
    color: #fff;
}

.li-twitter {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2aa3ef;
    border-radius: 50%;
    margin: 0 20px;
}
.li-twitter i {
    font-size: 25px;
    color: #fff;
}

.li-facebook {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a58ca;
    border-radius: 50%;
    margin: 0 20px;
}
.li-facebook i {
    font-size: 25px;
    color: #fff;
}

.clr-primary {
    color: var(--primary) !important;
}
.bg-theme {
    background-color: var(--primary) !important;
    color: #fff !important;
}
a:hover {
    color: var(--primary50) !important;
}
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle,
.btn-outline-primary:hover, .btn-outline-primary.active{
    color: #fff !important;
    background-color: var(--primary) !important;
    border-color: var(--primary50) !important;
}
.btn-outline-primary {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}
