/*! CSS Used from: https://abrarkw.org/css/front.css */
a{background-color:transparent;}
img{border-style:none;}
a,div,h5,p{box-sizing:border-box;}
img{max-width:100%;}
img.project-img{height: 280px;object-fit: fill; width: 100%; border-radius: 15px 15px 0 0 ;}
.ba{border-style:solid;border-width:1px;}
.b--black-05{border-color:rgba(0,0,0,.05);}
.br-pill{border-radius:9999px;}
.absolute--fill{top:0;right:0;bottom:0;left:0;}
.db{display:block;}
.flex{display:flex;}
.flex-wrap{flex-wrap:wrap;}
.flex-auto{flex:1 1 auto;min-width:0;min-height:0;}
.items-start{align-items:flex-start;}
.items-center{align-items:center;}
.justify-between{justify-content:space-between;}
.flex-grow-0{flex-grow:0;}
.fw5{font-weight:500;}
.fw6{font-weight:600;}
.h1{height:1rem;}
.h2{height:2rem;}
.lh-solid{line-height:1;}
.lh-copy{line-height:1.5;}
.w-100{width:100%;}
.relative{position:relative;}
.absolute{position:absolute;}
.black{color:#000;}
.gray{color:#777;}
.bg-black-05{background-color:rgba(0,0,0,.05) !important;}
.bg-white{background-color:#fff;}
.pa3{padding:1rem;}
.pb4{padding-bottom:2rem;}
.pt3{padding-top:1rem;}
.ph2{padding-left:.5rem;padding-right:.5rem;}
.ph4{padding-left:0.5rem;padding-right:0.5rem;}
.mb0{margin-bottom:0;}
.mt2{margin-top:.5rem;}
.mt3{margin-top:1rem;}
.mv0{margin-top:0;margin-bottom:0;}
.mh2{margin-left:.5rem;margin-right:.5rem;}
.nl2{margin-left:-.5rem;}
.nr2{margin-right:-.5rem;}
.tr{text-align:right;}
.tc{text-align:center;}
.f5{font-size:1rem;}
.f6{font-size:.875rem;}
.f7{font-size:.75rem;}
.truncate{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.center{margin-left:auto;}
.center{margin-right:auto;}
.nowrap{white-space:nowrap;}
.grow{-moz-osx-font-smoothing:grayscale;-webkit-backface-visibility:hidden;backface-visibility:hidden;transform:translateZ(0);transition:transform .25s ease-out;}
.grow:focus,.grow:hover{transform:scale(1.01);}
/* .grow:active{transform:scale(.9);} */
.pointer:hover{cursor:pointer;}
.brand{color:var(--primary);}
/* .hover-brand:focus,.hover-brand:hover{color:var(--primary);} */
.lato{font-family:Lato,sans-serif;direction:ltr;}
.rtl{direction:rtl;}
a{color:var(--primary);text-decoration:none;}
.style-module--wrapper--3NhEB{background-color: var(--primary25);}
.style-module--progress--38OK7{background:#fff;box-shadow:inset 0 0 0 5px var(--primary50);}
.style-module--wrapper--2E4lN{box-shadow:0 10px 18px rgba(0,0,0,.035); border-radius: 15px;padding-bottom: 15px;}
@media screen and (max-width:960px){
.flex-grow-1-md{flex-grow:1;}
.ph4{padding-left:0.25rem;padding-right:0.25rem;}
}
@media screen and (min-width: 960px){
.ph3-ns{padding-left:1rem;padding-right:1rem;}
.nl4-ns{margin-left:-2rem;}
.nr4-ns{margin-right:-2rem;}
.truncate-ns{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.w-33{width:calc(100% / 3);}
}
input.p-donate-num {
    width: 50%;
    border-radius: 25px !important;
    text-align: center;
    margin: 0 5px !important;
    border: 1px solid var(--primary);
}
input#famount {
    border-radius: 25px !important;
    text-align: right;
    margin: 0 5px !important;
    border: 1px solid var(--primary) !important;
}
button.inc-dec-btn span {
    color: #fff !important;
    font-size: 14px;
    padding: 7px !IMPORTANT;
    border-radius: 25px !important;
    place-self: center;
}
button.inc-dec-btn span:hover {
    opacity: 0.8;
}
button.inc-dec-btn span.fa-plus{
    background: darkcyan !important;
}
button.inc-dec-btn span.fa-minus{
    background: crimson !important;
}
