@media (min-width: 1600px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        width: 100% !important;
        max-width: 1500px !important;
        padding-left: 200px;
        padding-right: 200px;
    }
    .amount-basket span{top: 39%;font-size: 16px;line-height: 12px;}
    .main-page{padding: 72px 0;}
    .src-box-inr input.form-control{
        width: 200px !important;
    }
}

/*  */

@media (max-width: 992px){
    .countcart{
        display: none;
    }
    .amount-basket{
        margin-top: 10px;
    }
    .donation-amount-main{
        justify-content:space-between !important
    }
    .amount-offer-inr h3 {
        margin-right: 0 !important;
    }
    .amount-offer-inr span{
        margin-right: 4px;
    }
    .navbar-collapse{
        background-color:white !important
    }

    .livewire-modal {
        width: 100%;
    }
}

@media (min-width: 1200px){
    .livewire-modal {
        width: 50% !important;
        height: 80vh !important;
    }
    .project-box .img {
        margin-bottom: 20px;
    }

    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px !important;
    }
    .arrow-down{left: 13%;}
    .src-box-inr input.form-control{
        width: 150px;
    }
    .src-box-inr select.form-control{
        width: 150px;
    }
    .cart-bg .nav-link{
        padding: 4px;
    }
    .cart-bg span{
        top: 34%;
        transform: translate(-50%, -34%);
    }
    .categories .swiper-button-next{
        right: 80% !important;
    }
    .d-amount-price .btn{padding: 6px 20px !important;}
    .main-page{padding: 40px 0;}
    .amount-basket span{top: 37%;font-size: 18px;line-height: 12px;}

    .w-lg-75 {
        width: 75%;
    }
}

@media (max-width: 991px) {
    .main-page{
        /* padding: 40px 20px; */
    }
    .navbar .navbar-brand{
        justify-content: end;
    }
    .footer{
        padding: 30px 15px;
    }
    .footer-ul{
        margin-bottom: 20px;
    }
    .categories .swiper-button-prev{
        left: 5% !important;
    }
    .home-slide .swiper-button-next {
        left: 18%;
    }
    .home-slide .swiper-slide.swiper-slide-active .title {
        padding-bottom: 200px;
    }
    .home-slide .swiper-slide .title {
        font-size: 70px;
    }
    .donation-amount-main,.amount-last{
        flex-wrap: wrap;
    }
    .donation-amount-main, .amount-offer, .amount-last{justify-content: center;}
    .d-amount-price{margin-bottom: 20px;}

    .basket-bag{position: relative;}
    .cart-inr-left{
        margin-bottom: 20px ;
    }

}

@media (max-width: 768px) {

    .navbar {
        z-index: 99;
    }

    .navbar-nav {
        margin-right: 0px !important;
        text-align: right;
        padding-right: 24px;
        padding-top: 14px;
    }

    .navbar .navbar-collapse {
        z-index: 99;
        background-color: white;
    }

    .navbar-links {
        display: flex;
        justify-content: center;
        margin-top: 18px;
        padding-bottom: 18px;
    }

    .navbar-links .nav-link {
        padding: 0;
        padding-right: 24px;
        padding-left: 24px;
    }

    .nav .nav-link {
        padding: 0;
        font-size: 13px;
    }

    .nav .left.social-media.icons {
        display: none;
    }

    .navbar .navbar-brand img {
        height: 100px;
        max-height: 80px;
        margin-right: 15px;
    }

    /*slider  */

    .home-slide .swiper-button-next {
        left: 30% !important;
    }
    .categories .swiper-button-next {
        right: 65% !important;
    }

    .cart-inr{padding: 15px 10px;}
    .proflie-inr{padding: 15px 0;}
    .profile-info .tab-content{padding: 0 10px;}
    .reg-details{padding: 10px;}

    /*  */

    .donations-projects .card .btn-secondary {
        display: flex;
    }

    .project-box-img .img-inr {
        height: 150px;
    }
    .above-img-bt-bg, .above-img span{
        top: 2%;
    }

    /*  */

}
