@import "../fonts/font.css";
*{
    font-family:'STC Forward Medium';
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

ul,
li {
    list-style: none;
}

/*  */

body {
    direction: rtl;
    font-size: 16px;
    text-align: right;
    color: var(--foreground);
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background);
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 144px;
    height: 48px;
}

.btn-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background-color: var(--background);
    border: 1px solid var(--primary);
    border-radius: 5px;
    width: 100%;
    max-width: 144px;
    height: 48px;
}

.btn-secondary:hover {
    color: var(--background);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary.focus,
.btn-secondary:focus {
    color: var(--background);
    background-color: var(--primary);
    border-color: var(--primary);
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: var(--background);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-select {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background-color: var(--background);
    border: 1px solid var(--primary);
    border-radius: 5px;
    width: 100%;
    max-width: 100px;
    height: 36px;

}

.primary{
    color: var(--primary);
}

.secondary{
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

.secondary:hover {
    color: var(--background);
    background-color: var(--secondary);
    border-color: var(--secondary);
}

a{
    text-decoration: none !important;
}

h1 {
    font-size: 1.875rem;
}

h1::after {
    content: "";
    border-bottom: 5px solid var(--primary);
    display: flex;
    width: 38px;
    border-radius: 20px;
    margin-top: 10px;
}

h2 {
    font-size: 1.5rem;
}

h3{
    font-size: 30px;
}



h4 {
    font-size: 1.25rem;
}

h4::after {
    content: "";
    border-bottom: 2px solid var(--secondary);
    display: flex;
    width: 38px;
    border-radius: 20px;
    margin-top: 10px;
}

h5 {
    font-size: 3.75rem;
}

.tertiary-bg {
    background-color: #fff;
}

/*  */

.nav {
    background-color: var(--primary);
    height: 48px;
    z-index: 1040;
}

.nav .social-media.icons img {
    width: 100%;
    height: 100%;
    max-width: 18px;
    max-height: 18px;
}

.nav .right a {
    color: white;
}

.nav .right a {
    color: rgba(255, 255, 255, 0.87)
}

.nav .right a img {
    padding-left: 10px;
}

.nav .right a:hover {
    color: white;
}

.nav .nav-link {
    display: flex;
    align-items: center;
}

.nav .row {
    height: 100%;
    margin: 0;
}

.social-media.icons .nav-link {
    padding: 0;
    padding-right: 16px;
}

/*  */

.navbar {
    height: 100px;
    padding: 0;
    top: 0;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.10);
}

.navbar .navbar-brand {
    justify-content: flex-start;
    display: flex;
    flex: 1;
    margin-right: 0px;
}

.navbar .navbar-brand img {
    height: 100%;
    max-height: 90px;
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.navbar .row {
    width: 100%;
    margin: 0;
}

.navbar-links .nav-link {
    padding: 0;
    padding-right: 16px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--foreground);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--foreground);
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: var(--primary);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--primary);
}
.navbar .navbar-collapse {
    justify-content: space-between;
}

.navbar-nav {
    padding-right: 0;
    margin-right: 0px !important;
    flex: 2;
    display: flex;
    justify-content: space-around;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.breadcrumb-item a{
    color: #000;
}
.breadcrumb-item.active{
    color: #51B2C4 !important;
}

.nav-item.active a{
    color: #51B2C4 !important;
}

.navbar-links{
    flex: 0;
}
.navbar-light .navbar-nav .active>.nav-link{color: #51B2C4 !important;}
.navbar-light .navbar-nav .nav-link{color: #000 !important;font-size: 13px;font-weight: 700;}
.arrow-down{position: absolute;top: 50%;left: 53%;transform: translate(0 , -50%);z-index: 9;}
.search-box-inr{position: absolute;top: 50%;left: 10px;transform: translate(0 , -50%);}

/*  */

.home-page {
    margin-top: 115px;
}

.header{
    margin-top: 115px;
    max-height: 50vh;
}


.footer {
    background-color: rgba(9, 147, 172, 71%);
    padding: 60px 0 5px;
}
.f-social-link{
    border-bottom: 1px solid #fff;
}

.footer-ul{
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
}
.footer-ul .nav-link{
    color: #fff;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.footer-ul .nav-link:hover{
    color: #fff;
}
.footer-ul .nav-link i, .footer-ul .nav-link img{
    padding-right: 5px;
}
.f-pay-main{
    padding: 30px 0;
}
.f-link{
    margin-bottom: 20px;
}
.footer-copyright{
    color: #fff;
}

.main-page{
    background-color: #fff;
}





.src-box-inr{
    display: flex;
    position: relative;
}
.src-box-inr input.form-control{
    padding-right: 30px;
    width: 200px;
}
.src-box-inr select.form-control{
    width: 150px;
    margin-left: -25px;
    z-index: 1;
    color: #000;
}
.src-box-inr .form-control{
    border-radius: 23px;
}
.cart-bg {
    background-color: rgba(9, 147, 172, 71%);
    padding: 2px 5px;
    border-radius: 28px;
    position: relative;
}
.cart-bg a img{
    width: 25px;
}
.cart-bg span{
    color: #ff0000;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% ,-40%);
    font-size: 15px;
    line-height: 12px;
}

.acc-box{
    padding: 40px;
    border: 1px solid #E6E6E6;
    text-align: center;
    box-shadow: 0 2px 4px #0E567C16;
    margin-bottom: 30px;
}
.acc-img {
    margin-bottom: 25px;
}
.acc-img img{
    height: 75px;
}
.acc-img-info h3{
    margin-bottom: 23px !important;
    margin: 0;
}
.acc-img-info span {
    font-weight: 700;
    color: #8C97AC;
    font-size: 20px;
}

.contact-inr{
    text-align: center;
    padding: 30px;
    box-shadow: 0 10px 35px #00000015;
    background-color: #fff;
}
.sec-title{
    position: relative;
    margin-bottom: 50px;
}
.sec-title h2 {
    color: #4D504A;
    font-size: 48px;
    font-weight: 700;
}
.pagination-main {
    display: flex;
    justify-content: center;
}
.pagination{
    justify-content: center;
}
.page-item:first-child .page-link, .page-item:last-child .page-link{
    border-radius: 100% !important;

}
.page-link{
    padding: 5px 15px !important;
    border-radius: 100%;
    border: none !important;
    font-size: 20px;
    font-weight: 700;
    color: #50B2C4 !important;
}
.page-link.active{
    background-color: #50B2C4 !important;
    color: #fff !important;
}
.page-link:hover{
    background-color: #50B2C4 !important;
    color: #fff !important;
}


.con-so-inr {
    margin-bottom: 30px;
    position: relative;
}
.select-arrow{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
}
.select-arrow i{color: #A2A4A0;}
.con-so-inr .form-control{
    border: 1px solid #DED1BF;
    color: #9B9B9B !important;
    font-weight: 700;
}
.contact-fo h3{
    font-size: 24px;
    font-weight: 700;
    color: #9B9B9B;
    margin-bottom: 40px;
}
.con-so-inr .form-control::placeholder{
    color: #9B9B9B;
}
.fo-bt{
    width: 100%;
    background-color: #50b2c4 !important;
    color: #fff !important;
    padding: 10px !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}
.error-img{
    margin-bottom: 30px;
}
.error-img img{
    width: 150px !important;
}
.error-inr .sec-title h2{margin: 0 !important;font-size: 40px !important;}
.error-inr .sec-title{margin: 0 !important;}

.contact-inr .sec-title h2:before {
    content: '';
    position: absolute;
    background-image: url(../img/ornament.svg);
    background-position: center;
    width: 30%;
    background-repeat: no-repeat;
    height: 20px;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 10px);
}


/* slider css */
.above-img{display: flex;justify-content: space-between;align-items: center;}
.above-img span{background-color: #51b2c4;padding: 14px 10px;border-radius: 50%;position: absolute;top: 6%;left: 10%;}
.above-img span img{margin: -3px 5px 2px;}
.above-img-bt-bg {
    background-color: #FEF2DE !important;
    padding: 5px 20px !important;
    border-radius: 20px !important;
    color: #F5A623 !important;
    position: absolute;
    top: 7%;
    right: 10%;
}

.project-done-swiper{box-shadow: 0 2px 4px rgba(14, 86, 124, 16%);padding: 10px;position: relative;}



.swiper-slide .img{margin-bottom: 20px;}

.swiper-slide{text-decoration: none;}
.home-slide{margin-bottom: 60px;}
.home-slide .swiper{position:relative;height:450px;border-radius: 30px;}
.home-slide .swiper-button-next,.home-slide .swiper-button-prev{outline:none;position:absolute;z-index:1;top:80%;width:40px;height:40px;background-color:rgba(0,0,0,0.5);border-radius:50%;}
.home-slide .swiper-button-next .csb,.home-slide .swiper-button-prev .csb{color:#fff;font-size:26px;width:42px;height:42px;border:3px solid #fff;border-radius:50%;display:flex;align-items:center;justify-content:center;}
.home-slide .swiper-button-next:after,.home-slide .swiper-button-prev:after{display:none;}
.home-slide .swiper-slide img:not([src]){visibility:visible!important;}
.home-slide .swiper-slide{position:relative;display:flex;flex-direction:column;height:100%;background-color:#000;padding:30px;z-index:0;}
.home-slide .swiper-slide.swiper-slide-active .title,.home-slide .swiper-slide.swiper-slide-active .d-bt{animation:fadeInUp;animation-duration:1s;}
.home-slide .swiper-slide .title{color:#fff;font-size:91px;}
.home-slide .swiper-slide img{position:absolute;width:100%;height:100%;object-fit:cover;left:0;top:0;opacity:0.7;z-index:-1;background-repeat:no-repeat;background-size:cover;background-position:center center;}
.home-slide .swiper-button-next{left: 15% !important;right: auto;}
.home-slide .swiper-button-prev{left: 10%!important;right: auto !important;}
.d-bt{background: #fff !important;width: 100px;padding: 10px 30px !important;border-radius: 28px !important;}
.home-slide .swiper-slide.swiper-slide-active .title{padding-bottom: 170px;}

/* slider css */
.categories-swiper{
    margin-bottom: 20px;
}
.categories-title h2{
    font-size: 40px;
    padding-right: 20px;
}
.categories .swiper-button-next,.categories .swiper-button-prev{outline:none;position:absolute;z-index:1;top:5%;width:40px;height:40px;background-color:#fff;border-radius:50%;}
.categories .swiper-button-next .csb,.categories .swiper-button-prev .csb{color:#707070;font-size:26px;width:42px;height:42px;border:3px solid #707070;border-radius:50%;display:flex;align-items:center;justify-content:center;}
.categories .swiper-button-next:after,.categories .swiper-button-prev:after{display:none;}
.categories .swiper-button-prev {left: 13% !important;}
.categories .swiper-button-next{right: 82% !important;}
.categories-swiper .swiper-slide{padding: 20px}
.donation-info h3, p{color: #1D293F;}

.mt-100 {
    margin-top: 200px
}

.progress {
    width: 80px;
    height: 80px !important;
    float: left;
    line-height: 150px;
    background: #fff !important;
    margin-right: 20px;
    box-shadow: none;
    position: relative
}

.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1
}

.progress .progress-left {
    left:1px
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left
}

.progress .progress-right {
    right: 0
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards
}

.progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #fff;
    font-size: 18px;
    color: #51B2C4;
    line-height: 135px;
    text-align: center;
    margin-top: -30px;
}

.progress.blue .progress-bar {
    border-color: #51B2C4
}

.progress.blue .progress-left .progress-bar {
    animation: loading-3 1.5s linear forwards 1.8s
}

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg)
    }
}

@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }
}
.donation-amount-main{
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 20px;
}
.d-amount-price .btn{
    padding: 10px 30px !important;
    border: 1px solid #000;
    border-radius: 28px;
}
.amount-offer {
    display: flex;
    margin-bottom: 20px;
}
.amount-offer-inr span{margin-right: 20px;color: #000;font-size: 16px;}
.amount-offer-inr h3{font-size: 18px;margin: 0;margin-right: 10px;color: #50B1C3;}
.am-inr{
    margin-right: 20px;
}
.add-am-bt{
    border:1px solid rgba(36, 34, 34, 18%) !important;
    color: rgba(36, 34, 34, 25%) !important;
    padding: 10px 25px !important;
    border-radius: 28px !important;
    white-space: nowrap;
    margin: 0 5px;
}
.amount-basket{
    background-color:#1D293F;
    border-radius: 28px;
    position: relative;
}
.amount-basket span {
    color: #ff0000;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50% ,-40%);
    font-size: 18px;
    line-height: 12px;
}
.amount-last{
    display: flex;
    align-items: center;
}
.amount-last  .btn-number{padding: 6px 8px;}
.bas-left{margin-left: 5px;}
.amount-last input{height: 38px;}
.categories-bt .btn {padding: 10px 20px;border-radius: 28px;color: #fff;font-size: 20px;background-color: rgba(9,147,172,71%);}
.categories-bt .btn:hover{color: #fff;}


/* project css  */
.p-done{opacity: 0.5;}
.project-box .img{margin-bottom: 20px;}
.project-main nav .nav{
    background-color: transparent;
    border: none;
    height: 34px;
    margin-bottom: 20px;
}
.project-main nav .nav .nav-link {
    padding: 5px 30px;
    border: 1px solid rgba(19, 19, 19, 25%);
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(19, 19, 19, 25%);
}
.project-main nav .nav .nav-link.active{background-color: #51B2C4;color: #fff;}
.project-main nav .nav .nav-link{
    margin-left: 20px;
}
.project-box{
    margin-bottom: 30px;
    padding:10px;
    position: relative;
    border-radius: 10px;
    border: 1px solid rgba(14, 86, 124, 100%);
}
.categories-swiper .swiper-slide{border: 1px solid rgba(14, 86, 124, 100%);border-radius: 10px;box-shadow: none;}
.project-box:hover{box-shadow: 0 1px 5px rgba(14, 86, 124, 30%);}
.categories-swiper .swiper-slide:hover{box-shadow: 0 1px 5px rgba(14, 86, 124, 30%);}
.project-box-done .add-am-bt{
    background-color: rgba(36, 34, 34, 18%) !important;
}
.project-main .d-amount-price .btn{padding: 5px 25px !important;}
.project-main .add-am-bt{padding: 7px 20px !important;}
.project-done{
    padding: 10px 30px;
    text-align: center;
    font-size: 49px;
    background-color: rgba(219, 219, 219, 74%);
    color: #FF0000;
    border-radius: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: rotate(30deg);
}
.project-box-img .img-inr{height: 300px;}


/* cart */
.cart-title{
    margin-bottom: 50px;
}
.cart-inr-left .cart-title{
    margin-bottom: 15px;
}
.cart-title h2, .profile-title h2{
    font-size: 25px;
    color: #000;
    font-weight: 600;
    margin: 0;
}

.cart-inr{
    padding: 15px 0 30px 30px;
    box-shadow: 0 10px 35px #00000015;
    background-color: #FAFAFA;
    position: relative;
}
.cart-inr-left{
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #EBEBEB;

}
.cart-info-inr p{
    margin-bottom: 20px;
    color: #51B2C4;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}
.cart-pay-img{width: 100px;margin-bottom: 10px;}
.pay-img{display: flex;justify-content: space-between;align-items: center;margin-bottom: 15px;}
.pay-img img{
    width: 50px;
}
.cart-pay-fo{margin-bottom: 10px;}
.cart-pay-fo input{border-radius: 30px;text-align: end;}
.cart-pay-fo button{background-color: #50b2c4 ;font-size: 16px;font-weight: 700;color: #fff;padding: 5px 25px;border-radius: 28px;}


.cart-inr-right .alert-dismissible{padding: 10px !important;background-color: #D1F1F7;border-color: #D1F1F7;color: #000 !important;}

.cart-right-img{display: flex;align-items: center;}
.cart-right-img .cart-img-info{margin-right: 10px;}
.cart-counter-inr{display: flex;}
.cart-counter-bt{display: flex;flex-direction: column;}
.cart-counter-inr .input-number{width: 25px;padding: 0 5px;border-radius: 10px 0 0 10px;background-color: rgba(167, 193, 198,45%);border: none;}
.cart-right-inr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-right-inr .close{background: none;border: none;}
.cart-right-inr .close span{font-size: 20px;}

.basket-bag{position: absolute;bottom: 0;}
.cart-counter-bt a.btn{padding: 0 5px;font-size: 10px;background-color: #A7C1C6;}
.co-plus{border-radius: 0 10px 0 0 !important;}
.co-minus{border-radius: 0 0 10px 0 !important;}
/* cart */
#go-up.active {
    right: 30px;
}
#go-up {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(9, 147, 172,71%);
    position: fixed;
    z-index: 100;
    right: -50px;
    bottom: 100px;
    border-radius:50%;
    padding: 3px 10px;
    transition: 0.33s;
    opacity: 0.5;
}
#go-up i {
    font-size: 32px;
    color: #fff;
}

/* profile */
.proflie-inr{
    padding: 15px 30px;
    box-shadow: 0 10px 35px #00000015;
    background-color: #FAFAFA;
}

.profile-info nav .nav {
    background-color: transparent;
    border: none;
    height: 34px;
    margin-bottom: 20px;
    flex-wrap: nowrap !important;
}
.profile-info nav .nav .nav-link.active {
    background-color: #51B2C4;
    color: #fff !important;
}
.profile-info nav .nav .nav-link {
    padding: 5px 30px;
    border: 1px solid rgba(19, 19, 19, 25%);
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(19, 19, 19, 25%) !important;
    margin-left: 20px;
}
.profile-info-img {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 8%);
    margin-bottom: 30px;
}
.profile-info-img img{width: 100px !important;border-radius: 100%;margin-left: 30px;}
.profile-info-fo input{border-radius: 30px;font-size: 12px;}
.profile-info-fo{margin-bottom: 10px;}
.profile-info-bt{text-align: left;margin-top: 75px;}
.profile-info-bt button.btn{padding: 5px 30px !important;background-color: #51B2C4;border-radius: 20px;border: 1px solid rgba(19, 19, 19, 25%);color: #fff;font-size: 16px;font-weight: 700;}
.profile-info .tab-content {
    padding: 10px 20px;
}
.reg-details {
    background-color: #D1F1F7;
    padding: 10px 25px;
    border-radius: 10px;
    max-height: 270px;
    overflow: auto;
}
.reg-details-inr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reg-details-inr h2{
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.reg-details-inr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,8%);
}
.reg-pro-num span {
    padding: 5px;
    background-color: rgba(167, 193, 198, 30%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
}
.reg-price-info span{
    font-size: 12px;
    font-weight: 700;
}
.reg-file span{
    padding: 5px 7px;
    background-color: antiquewhite;
    border-radius: 100%;
    background-color: rgba(0, 0, 0,20%);
}
.reg-file span img{margin-top: -5px;}


/* profile */


.donation-inr{
    padding: 80px 40px;
    text-align: center;
    position: relative;
    background-color: #FAFAFA;
    border-radius: 40px;
    box-shadow: 0 10px 35px #00000015;
}
.donation-inr h2{font-size: 25px;font-weight: 700;color: #000;}
.left-wing {
    position: absolute;
    left: -9%;
    top: 15%;
}
.right-wing {
    position: absolute;
    right: -3%;
    top: 37%;
}
.side-menu{
    position: fixed;
    top: 30%;
    right: -2px;
    transform: translate(0 , -50%);
}
.side-menu-inr {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid rgba(112, 112, 112, 28%);
    border-radius: 30px 0 0 30px;
    padding-right:30px;
}
.side-menu-inr img{width: 40px;}

.side-menu-inr h2{
    margin-left: 20px !important;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #000;
}
.sidebar-cart{
    width: 250px;
    position: fixed;
    top: 33%;
    right: 0;
}
.sidebar-menu-main{position: relative;z-index: 99999;}
.sidebar-cart{display: none;}
.sidebar:hover .sidebar-cart{
    display: block;
}
.page-item{padding: 0 5px;}

