* { margin: 0; padding: 0; box-sizing: border-box;     font-weight: normal;}
		body { font-family: "Medium"; text-align: right; direction: rtl;}
		.recipt { padding: 50px 0; }
		.container { max-width: 700px; margin: 0 auto; width: 100%; padding: 0 15px; }
		.recipt-head { margin-bottom: 20px; }
		.recipt-head h3 { font-size: 18px; margin-bottom: 7px; display: block; }
		.recipt-head label { width: 100%; display: block; margin-bottom: 7px; }
		.recipt-title h2 { margin-bottom: 20px; text-align: center; background: rgba(121,169,197,.92); padding: 10px 0;
    		border-radius: 5px; color: #fff; font-size: 20px; }
		.recipt-main { padding: 25px; background: #f5f5f5; }
		.recipt-tbl { width: 100%; }
		.recipt-tbl table { border-collapse: collapse; width: 100%; }
		.recipt-tbl td, .recipt-tbl th { border: 1px solid #dddddd;  padding: 12px 15px; }
		.recipt-tbl thead th { background: #83afc9; color: #fff; }
		.recipt-tbl tbody td { background: #fff; }
		.recipt-tbl tfoot td { background: #b7d1e0; }