@media (min-width: 1600px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 100%;
        padding-left: 200px;
        padding-right: 200px;
    }
}

/*  */

@media (max-width: 768px) {

    .navbar {
        z-index: 99;
    }

    .navbar-nav {
        margin-right: 0px !important;
        text-align: right;
        padding-right: 24px;
        padding-top: 14px;
    }

    .navbar .navbar-collapse {
        z-index: 99;
        background-color: white;
    }

    .navbar .navbar-collapse {
        flex: auto;
    }

    .navbar-links {
        display: flex;
        justify-content: center;
        margin-top: 18px;
        padding-bottom: 18px;
    }

    .navbar-links .nav-link {
        padding: 0;
        padding-right: 24px;
        padding-left: 24px;
    }

    .nav .nav-link {
        padding: 0;
        font-size: 13px;
    }

    .nav .left.social-media.icons {
        display: none;
    }

    .navbar .navbar-brand img {
        height: 100px;
        max-height: 80px;
        margin-right: 15px;
    }

    /*  */

    .carousel-item h5 {
        font-size: 2rem;
    }

    .carousel-caption {
        top: 15%;
    }

    /*  */

    .donations-projects .card .btn-secondary {
        display: flex;
    }

    /*  */

    .testimonial .card {
        margin-bottom: 30px;
    }

    /*  */

    footer .footer-links .col-12 {
        margin-bottom: 18px;
        text-align: center;
    }

    footer .footer-links .payment-logos {
        margin-top: 24px;
    }

    footer .footer-links .logo {
        justify-content: center;
    }

    h4::after {
        margin: auto;
        margin-top: 10px;
    }

    /*  */

    .cart td,
    .cart th {
        border: 1px solid var(--light);
    }

    .cart .table-number {
        display: none;
    }
}

@media (max-width: 768px) {
    .account-tab-panel {
        margin-bottom: 30px;
    }

    .cd-tabs__panels .tab-edit .flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .cd-tabs__panels .tab-edit input {
        width: 100%;
    }

    .cd-tabs__panels .tab-edit .flex label {
        width: 100%;
    }

    .cd-tabs__panels li h2 {
        display: block;
        margin-bottom: 24px;
    }

    .js .cd-tabs__panel {
        padding: 30px 36px 60px 36px;
    }
    .footer.footer .logo img {
    left: 0;
}

.social-media {
    justify-content: center;
}
.total-price .total-price-inr {
    min-width: 180px;
    width: 100%;
    margin-top: 20px;
}
.paymnt-btn {
    width: 100%;
}
.total-price {
    flex-direction: column-reverse;
}



}