.flex { display: flex; }
.justify-center { justify-content: center; }
.space-between { justify-content: space-between; }
.space-around { justify-content: space-around; }
.align-center { align-items: center; }
ul, li { list-style: none; }

/*  */
body { direction: rtl; font-family: "Regular"; font-size: 16px; text-align: right; color: var(--foreground); }
.btn-primary { font-family: "Bold"; display: flex; align-items: center; justify-content: center; color: var(--background); background-color: var(--primary); border: none; border-radius: 30px !important; width: 100%; max-width: 144px; height: 48px; }
.btn-secondary { font-family: "Bold"; display: flex; align-items: center; justify-content: center; color: var(--primary); background-color: var(--background); border: 1px solid var(--primary); border-radius: 5px; width: 100%; max-width: 144px; height: 48px; }
.btn-secondary:hover { color: var(--background); background-color: var(--primary); border-color: var(--primary); }
.btn-secondary.focus, .btn-secondary:focus { color: var(--background); background-color: var(--primary); border-color: var(--primary); box-shadow: none; }
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle { color: var(--background); background-color: var(--primary); border-color: var(--primary); }
.btn-select { font-size: 14px; font-family: "Medium"; display: flex; align-items: center; justify-content: center; color: var(--primary); background-color: var(--background); border: 1px solid var(--primary); border-radius: 5px; width: 100%; max-width: 100px; height: 36px; }
.primary { color: var(--primary); }
.secondary { color: var(--secondary); border: 1px solid var(--secondary); }
.secondary:hover { color: var(--background); background-color: var(--secondary); border-color: var(--secondary); }
h1 { font-size: 1.875rem; font-family: "Medium"; }
h1::after { content: ""; border-bottom: 5px solid var(--primary); display: flex; width: 38px; border-radius: 20px; margin-top: 10px; }
h2 { font-size: 1.5rem; font-family: "Medium"; }
h3 { font-size: 30px; font-family: "Light"; }
h3 span { font-family: "Medium"; }
h4 { font-size: 1.25rem; font-family: "Medium"; }
h4::after { content: ""; border-bottom: 2px solid #00b140; display: flex; width: 38px; border-radius: 20px; margin-top: 10px; }
h5 { font-size: 3.75rem; }
.tertiary-bg { background-color: var(--tertiary); }

/*  */
.nav { background-color: var(--primary); height: 48px; z-index: 1040; }
.nav .social-media.icons img { width: 100%; height: 100%; max-width: 18px; max-height: 18px; }
.nav .right a { color: white; }
.nav .right a { color: rgba(255, 255, 255, 0.87) }
.nav .right a img { padding-left: 10px; }
.nav .right a:hover { color: white; }
.nav .nav-link { display: flex; align-items: center; }
.nav .row { height: 100%; margin: 0; }
.social-media.icons .nav-link { padding: 0; padding-right: 16px; }

/*  */

/*  */
.header { margin-top: 100px; max-height: 50vh; }
.carousel-inner {    /*height: 50vh;*/
height: auto; }
.carousel .carousel-item img {    /*height: 50vh;*/
height: auto; object-fit: cover; object-position: center; }
.carousel-indicators li { box-sizing: inherit; width: 14px; height: 14px; background-color: var(--background); border-top: none; border-bottom: none; border-radius: 50px; margin-right: 5px; margin-left: 5px; }
.carousel-indicators { justify-content: flex-end; margin-bottom: 30px; margin-left: 11%; }
.carousel-caption { right: 11%; top: 30%; color: var(--background); text-align: right; }
.carousel-item .overlay { position: absolute;    /*height: 50vh;*/ height: auto; width: 100%; top: 0px; background-color: rgba(0, 0, 0, 0.27); }
.carousel-item h5 { margin-bottom: 24px; }

/*  */
.donations-projects { min-height: 60vh; display: flex; justify-content: center; padding-top: 100px; padding-bottom: 72px; }
.donations-projects h1 { margin-bottom: 60px; }
.donations-projects p { margin-bottom: 0px; }
.donations-projects .card { display: flex; justify-content: center; align-items: center; text-align: center; border: none; box-shadow: 0px 5px 10px #0000000D; border-radius: 5px; padding-top: 36px; padding-bottom: 30px; margin-bottom: 30px; padding-left: 15px; padding-right: 15px; }
.donations-projects .card img { height: 72px; max-width: 72px; margin-bottom: 18px; }
.donations-projects .card h2 { margin-bottom: 10px; }
.donations-projects .card .btn-secondary { display: none; margin-top: 20px; border-radius: 30px; }
.donations-projects .card:hover .btn-secondary { display: flex; }

.donations-projects .donations-card { padding: 0; flex-direction: row; align-items: center; justify-content: flex-start; }
.donations-projects .donations-card .donations-link-name { width: calc(100% - 100px); text-align: right; padding: 15px; }
.donations-card .donations-link-name .btn-secondary { display: inline-block; margin: 0 !important; height: auto; }
.donations-projects .card .donations-link-name h2 { min-height: inherit; font-size: 20px; color: #636B78; margin: 0 0 15px; }
.donations-projects .card .donations-link-name .btn-secondary { display: inline-block; margin: 0 !important; height: auto; }
.donations-card .donations-card-img { align-self: stretch; background: #F1F3F7; display: flex; align-items: center; padding: 15px 15px; width: 100px; justify-content: center; }
.donations-projects .donations-card img { max-width: 100%; height: auto; margin: 0; max-height: 100%; width: auto; }
.donations-projects .card .donations-link-name .btn-secondary { display: inline-block; margin: 0 !important; height: auto; padding: 5px 25px; width: auto; font-size: 14px; }





/*  */
.projects { padding-top: 40px; padding-bottom: 40px; }
.projects h1 { margin-bottom: 60px; }
.projects .card { display: flex; flex-direction: column; }
.projects .card .project-image { width: 100%; height: 50%; object-fit: cover; }

/*  */
.testimonial { padding-top: 100px; padding-bottom: 128px; background-image: url('../assets/img/testimonial-bg.svg'); background-repeat: no-repeat; background-position-y: center; }
.testimonial h1 { margin-bottom: 60px; }
.testimonial .card { border: none; box-shadow: 0px 5px 10px #0000000D; border-radius: 5px; padding: 24px; padding-bottom: 30px; margin: 15px 0; }
.testimonial h1 { margin-bottom: 60px; }
.testimonial .card .user-image { width: 60px; height: 60px; object-fit: cover; border-radius: 60px; margin-bottom: 16px; }

/*  */
.footer { background-color: var(--dark); color: var(--background); padding-top: 60px;
    /* background-image: url('../assets/img/footer-bg.svg'); */
     background-position: left bottom; background-repeat: no-repeat; }
/*footer .footer-links { padding-bottom: 72px; }*/
footer .footer-links a { color: var(--background); }
footer .footer-links ul { padding-right: 0px; }
footer .footer-links li { padding-bottom: 5px; padding-top: 5px; }
footer .payment-logos img { max-height: 50px; max-width: 90px; }
footer .footer-links .contact, footer .footer-links .payment-logos ul { margin-top: 24px; }
footer .footer-links .payment-logos ul { align-items: center; }
.icons img { margin-left: 16px; }
/* footer .footer-copyright { height: 48px; background-color: var(--foreground); width: 100%; } */

/* Projects Page */
.projects-header input.search { width: 100%; border: none; border-radius: 50px; min-height: 48px; padding-right: 24px; }
.projects-header form { width: 100%; border: none; border-radius: 50px; min-height: 48px; margin-top: 36px; box-shadow: 0px 5px 10px #0000000D; padding-right: 24px; background-color: var(--background); display: flex; align-items: center; justify-content: center; }
.projects-header form select { border: none; }
.projects-header form select:focus { outline: none; }
.projects-header input.search:focus { outline: none; }
.projects-header { background-image: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), url('../assets/img/carousel-2.jpg'); background-size: cover; background-position: center; height: 50vh; color: var(--background); flex-direction: column; display: none !important; }
.projects .card { border: none; box-shadow: 0px 5px 10px #0000000D; border-radius: 5px; margin-bottom: 30px; }
.projects .card-content { padding: 16px; padding-top: 18px; padding-bottom: 30px; }
.projects .card .card-image { width: 100%; height: 50%; object-fit: cover; }
.projects .card .icon { width: 20px; height: 20px; object-fit: cover; }
.projects .card input#famount { height: 48px; padding-right: 14px; width: 100%; max-width: 144px; border: 1px solid var(--light); }
.projects .card input#famount:focus { outline-color: var(--primary); }
.projects .card h2 { margin-left: 16px; }
.projects .add-cart { margin-top: 24px; }
.projects .btn { padding: 0; }
.projects button.btn.focus, .projects button.btn:focus { outline: 0; box-shadow: none; background-color: var(--primary); color: var(--background); }
.projects button.btn:hover { background-color: var(--primary); color: var(--background); }
.projects .progress { height: 7px; width: 100%; }
.projects .progress { background-color: var(--light); }
.projects .progress-bar { background-color: var(--primary); box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); }
.projects .progress-payment { width: 100%; padding-bottom: 2px; }
.projects .pagination-buttons { margin-top: 10px; }
.projects .pagination-buttons ul { display: flex; padding-right: 0px; }
.pagination-buttons li a { min-width: 36px; min-height: 37.5px; display: flex; justify-content: center; align-items: center; color: var(--primary); border: 1px solid var(--primary); border-radius: 18px; margin-left: 5px; margin-right: 5px; padding-right: 14px; padding-left: 14px; }
.pagination-buttons li.ng-scope.active a { color: var(--background); background-color: var(--primary); box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.10); }

/* Cart Page */
.cart-header { background-image: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), url('../assets/img/cart-header.jpg'); background-size: cover; height: 50vh; color: var(--background); flex-direction: column; display: none !important; }
table { border-collapse: collapse; width: 100%; }
td, th { direction: rtl; text-align: right; padding: 8px; }
.cart { padding-top: 100px; padding-bottom: 128px; }
.cart table { background-color: var(--background); box-shadow: 0px 5px 10px #0000000D; }
.table-number { text-align: center; }
.cart tr { border-bottom: 1px solid var(--light); height: 60px; }
.cart .table-number { color: var(--secondary); }
.cart .card { box-shadow: 0px 5px 10px #0000000D; border-radius: 5px; flex-direction: row; justify-content: space-around; margin-top: 48px; border: none; height: 170px; align-items: center; margin-left: 0; margin-right: 0; }

/*  */
.account-header { background-image: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), url('../assets/img/account.jpg'); background-size: cover; height: 50vh; color: var(--background); flex-direction: column; display: none !important; }
.account { padding-top: 40px; padding-bottom: 40px; }
.account .cd-tabs { background-color: var(--background); box-shadow: 0px 5px 10px #0000000D; }
.cd-tabs__panels td, .cd-tabs__panels th { border: 1px solid #eee; }
.cd-tabs__panels th { color: var(--secondary); }
.tab-account table { margin-top: 36px; }
.cd-tabs__panels .tab-edit input { width: auto; max-width: 75%; height: 48px; }
.cd-tabs__panels .tab-edit .flex { margin-bottom: 24px; }
.cd-tabs__panels .tab-edit .flex label { font-family: "Bold"; width: auto; color: var(--secondary); }
.cd-tabs__panels li h2 { display: none; }
.cd-tabs__panels li h3 { margin-top: 36px; margin-bottom: 24px; font-size: 1.5rem; font-family: "Medium"; }
.cd-tabs__panels .table-number { color: var(--secondary); }
.projects .card.cardhover { overflow: hidden; }
.projects .card.cardhover .imghover { max-height: 200px; overflow: hidden; }
.projects .card.cardhover .imghover .card-image { transition: 0.4s all; }
.projects .card.cardhover:hover .imghover .card-image { /*transform: rotate(-8deg) scale(1.2);*/ }
.projects .card.cardhover { transition: 0.4s; }
.projects .card.cardhover:hover { /*transform: translate(0, -10px) scale(1.1);*/ box-shadow: 0px 5px 30px hsl(0deg 0% 0% / 20%); position: relative; z-index: 9; }
.tagboxsele { margin-bottom: 15px; }
.tagboxsele button { margin-left: 8px; font-size: 12px; padding: 5px 0px !important; height: auto; border-radius: 30px; }
.tagboxsele button:last-child { margin: 0; }
.addincrem { margin-top: 15px; display: flex; /*justify-content: flex-end;*/ align-items: center; }
.addincrem input { float: left; width: 100%; max-width: 50px; text-align: center; border: none; }
.addincrem .btninde { background-color: #efefef; border-radius: 5px; padding: 2px 0; margin-left: 10px; }
.addincrem .btninde button { padding: 0 10px; border: none; background: transparent; font-size: 20px; border-right: 1px solid #dcdcdc; line-height: 1; }
.addincrem .btninde button:first-child { border: 0; }
.clsfamount input { font-size: 13px; text-align: center; max-width: 100px; margin-left: 10px; border: 1px solid #ddd; border-radius: 30px; padding: 11px 10px; }
.addincrem input::-webkit-outer-spin-button, .addincrem input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
.addincrem input[type=number] { -moz-appearance: textfield; }
.cart-page { padding: 100px 0; background: #FAFAFA; }
h3.cart-head { font-size: 18px; }
h3.cart-head img { width: 20px; }
.removefromcart { padding: 0; border: none; background: transparent; }
.removefromcart img { width: 25px; }
.cart-page .table td { vertical-align: middle; }
.total-price { display: flex; justify-content: space-between; text-align: center; }
.total-price h3 { font-size: 24px; font-weight: 600; border-bottom: 1px solid #000; margin-bottom: 15px; padding-bottom: 15px; }
.paymnt-btn-inr button { border: 1px solid #707070; background: #C1C8CE; display: flex; flex-direction: column; align-items: center; padding: 0px 10px 5px 10px; margin: 0 5px; font-size: 18px; font-weight: 500; }
.paymnt-btn-inr { display: flex; }
.cart-page .card { border: none !important; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16); }
.cart-page p { margin: 0; }
.contact-page { padding: 40px 0; }
.contact-page .card-head { border-bottom: 1px solid #000; margin-bottom: 15px; padding-bottom: 15px; }
.contact-page .card { border: none !important; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16); }
.shadow-right { position: relative; box-shadow: 9px 0px 10px -12px rgba(0, 0, 0, 0.4); }

/*.shadow-right:after { content: ""; height: 100%; right: 0; top: 0; width: 1px; position: absolute; box-shadow: 0 3px 10px rgba(0,0,0,0.6); background: rgba(0,0,0,0.02); }*/
.contct-info { padding: 20px; }
.contct-info h3 { text-align: center; font-size: 24px; font-weight: 600; text-decoration: underline; margin-bottom: 30px; }
.contct-info .form-control { border: 1px solid #707070; border-radius: 30px !important; }
.contct-info .contact-box { position: relative; }
.contct-info .contact-box .input-group-append { position: absolute; right: 0; top: 0; bottom: 0; background: #0984e3; width: 40px; display: flex; align-items: center; justify-content: center; border: 1px solid #707070; border-radius: 30px; }
.contct-info .contact-box .form-control { padding-right: 50px; }
.contct-info .contact-textarea .form-control { height: 150px; }
.contact-btn { justify-content: flex-end; }
.contact-btn button { border: 1px solid #707070; background: #0984e3; color: #fff; padding: 6px 20px; }
.contact-map-inr { text-align: center; }
.contact-map-inr iframe { max-width: 300px; height: 200px; width: 100%; }
.contact-btn button { border-radius: 30px; }
.social-media.icons .nav-link img { margin: 0; }
.pop-design button.close { position: absolute; left: 10px; top: 5px; z-index: 999; }
.login-popup-inr { text-align: center; margin: 20px 0 0; }
.login-popup-inr .usr-img { margin-bottom: 10px; }
.login-popup-inr .usr-img img { width: 80px; }
.login-popup-inr h3 { font-size: 25px; font-weight: 600; color: #5b5b5b; }
.login-popup-inr .login-dvdr { position: relative; margin-bottom: 20px; margin-top: 15px; }
.login-popup-inr .login-dvdr:before { content: ""; width: 100%; left: 0; top: 50%; background: #e6e6e6; position: absolute; height: 1px; }
.login-popup-inr .login-dvdr p { display: inline-block; margin: 0; color: #717b84; background: #fff; position: relative; padding: 0 15px; font-weight: 500; font-size: 18px; }
.login-popup-inr .mail-phone { display: flex; justify-content: center; }
.login-popup-inr .mail-phone a { display: flex; margin: 0 10px; flex-direction: column; color: #5b5b5b; font-weight: 600; width: 100px; padding: 15px 10px; border-radius: 5px; border: 1px solid #e6e6e6; text-decoration: none; transition: 0.4s; cursor: pointer; align-items: center; }
.login-popup-inr .mail-phone a:hover { background: #f1f1f1; box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); transform: translate(0, -5px); }
.login-popup-inr .mail-phone a img { height: 25px; width: auto; margin-bottom: 5px; }
.mail-phone-next .form-control { border: 1px solid #ced4da; border-radius: 2px !important; border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; direction: ltr; }
.mail-phone-next .input-group-text { border-top-left-radius: 2px !important; border-bottom-left-radius: 2px !important; }
.mail-phone-next .input-group-text img { width: auto; height: 16px; }
.mail-phone-next lable { font-size: 18px; font-weight: 600; color: #5b5b5b; display: inline-block; }
.red-color { color: red; }
.site-btn { background: #00767f; border: none; color: #fff; padding: 6px 10px; transition: 0.4s; }
.site-btn:hover { background: #005056; }
.iti.iti--allow-dropdown { width: 100%; }
.iti__flag { order: 2; }
.iti__selected-flag { border-right: 1px solid #ced4da; }
.iti__country-list { left: 0; }
.mail-phone-next .icon-right .input-group-prepend .input-group-text { border-top-left-radius: 0px !important; border-bottom-left-radius: 0px !important; border-top-right-radius: 2px !important; border-bottom-right-radius: 2px !important; }
.mail-phone-next .form-control { border-radius: 2px !important; border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; }
.login-mm-btn { justify-content: center; }
.login-mm-btn .site-btn-gray { margin: 0 10px; }
.site-btn-gray { background-color: #e1e1e1; border: none; padding: 6px 15px; border-radius: 2px; color: #fff; transition: 0.4s; }
.site-btn-gray img { width: auto; height: 15px; margin-left: 5px; }
.site-btn-gray:hover { background-color: #00767f; }
.btn-spc { min-height: 30px; }
.no-border-radius { border-radius: 0 !important; }
.btn-blue { color: #fff; background-color: #0984e3; border-color: #0984e3; overflow: hidden; padding: 0 10px !important; border-radius: 30px; display: flex; align-items: center; justify-content: center; }
.btn-blue:hover { color: #fff; background-color: #1174c1; border-color: #1174c1; }
.btn-green { color: #fff; background-color: #00b140; border-color: #00b140; overflow: hidden; padding: 0 10px !important; }
.btn-green:hover { color: #fff; background-color: #0e8a3b; border-color: #0e8a3b; }
.card-desgn { position: relative; }
.card-desgn .title-on-img { position: absolute; bottom: 100%; left: 0; right: 0; padding: 8px 15px; background-color: #0984e3; justify-content: center; }
.card-desgn .title-on-img h2 { margin-bottom: 0; color: #fff; }
.sectionTitle { font-weight: 700; position: relative; padding-bottom: 17px; margin-bottom: 50px; }
.sectionTitle:after { content: ""; position: absolute; height: 2px; width: 140px; background-color: #00b140; left: 50%; margin-left: -70px; bottom: 0; }
.text-brand { color: #00b140; }
.cal-title-bg { background: var(--primary); color: #fff; padding: 4px 15px; width: 210px; position: relative; font-weight: 400; font-size: 16px; }
.cal-body-bg { padding: 20px; background: #f7f7f7; margin-bottom: 10px; }
.cal-title-bg:after { content: ""; width: 0; height: 0; border-style: solid; border-width: 0 0 32px 32px; border-color: transparent transparent var(--primary) transparent; position: absolute; left: -32px; top: 0; }
.mb20 { margin-bottom: 20px; }
.zakatcalculator-sec { padding: 40px 0; }
.big-button { color: #fff; text-align: center; display: flex; }
.big-button-total { padding: 20px 40px; border-radius: 0 6px 6px 0; background: #00b140; }
.big-button-total strong { display: block; font-size: 200%; font-weight: 700; line-height: 1; }
.big-button-submit a { background: var(--primary); color: #fff; padding: 30px 20px 0; border-radius: 6px 0 0 6px; display: block; height: 100%; font-size: 18px; font-weight: 700; text-shadow: rgba(0, 0, 0, .18) 1px 1px 0; }
.text-bold { font-weight: 700; }
.bnk-acnt { padding: 40px 0; }
.bnk-acnt-title { background: #0984e3; color: #ffffff; text-align: center; padding: 10px 10px; }
.bnk-acnt-inr { padding: 10px; border: 3px solid #0984e3; display: flex; flex-direction: column; min-height: 200px; }
.bnk-acnt-no { background-color: #0984e3; text-decoration: none !important; color: #fff; font-size: 16px; padding: 6px 15px; }
.bnk-acnt-inr lable { margin-bottom: 4px; font-size: 20px; margin-top: 5px; font-weight: 600; color: #545454; }
.bnk-acnt-inr img { width: 100%; height: auto; }
.projects .card.cardhover { height: calc(100% - 30px); }
.projects .card.cardhover .card-image { height: auto; min-height: 100%; }
.projects .card.cardhover .imghover { height: 200px; display: flex; align-items: center; }
.projects .card.cardhover .card-desgn { height: calc(100% - 200px); display: flex; flex-direction: column; }
.projects .card.cardhover .card-desgn .add-cart { height: 100%; align-items: flex-end; }
.thiredcolor { border-radius: 30px; display: flex; align-items: center; justify-content: center; }
.bnk-acnt-no { border-radius: 30px; }
.bnk-acnt-title { border-radius: 30px; }
.form-control { border-radius: 30px; }
.account-tab-panel { border-radius: 30px; }
.cd-tabs__panels .tab-edit input { border-radius: 30px; }
.paymnt-btn-inr button { border-radius: 30px; }
button, input, optgroup, select, textarea { outline: none; }
.footer.footer .logo img { min-width: 200px; max-width: none; width: 200px; position: relative; left: 40px; }
.footer .logo { align-items: center; }
.defualt-bg { background-color: #f6f8fc; }
@media only screen and (min-width:768px) and (max-width:991px) {
    footer .footer-links .payment-logos ul { flex-wrap: wrap; }
}
@media only screen and (max-width:767px) {
    .shadow-right { box-shadow: none; }
    .hideMobile { display: none; }
    .cal-body-bg .form-control { margin: 0 0 15px; }
    .cal-body-bg .col-md-6:last-child .form-control { margin: 0; }
}
.testmnyl.owl-carousel .owl-item img { width: auto; }
.donations-projects .card img { width: 72px; }
.donations-projects .donations-card img { width: auto; margin: 0; height: auto; max-height: 70px; }
.donations-projects .card h2 { min-height: 84px; margin: 0; }















/*------------------------------------------------------------------------------------------------------------------------*/

body { margin-top: 188px; }
a:hover { text-decoration: none; }

.owl-nav button { background: var(--primary) !important; margin: 0 0 10px !important; width: 30px; height: 30px;
    border-radius: 50% !important; display: flex !important; align-items: center; justify-content: center;
    color: #fff !important; font-size: 20px !important; transition: 0.4s all; }
.owl-nav button:hover { background: var(--secondary) !important; }
.owl-nav button.disabled { background: #F1F3F7 !important; opacity: 1; }
.owl-nav button.disabled i.bx { color: #C8CBD0 !important; }

.head-title { display: block; margin-bottom: 36px; }
.head-title h3 { display: inline-block; margin: 0 0 15px; position: relative; font-size: 28px; color: var(--primary);
    font-weight: bold; padding-left: 85px; }
.head-title h3:after { content: ""; background-color: var(--tertiary); width: 45px; height: 3px; position: absolute;
    color: var(--primary); top: 50%; transform: translate(0, -50%); left: 0; }
.head-title p { font-size: 15px; color: #828993; margin: 0; }
button { outline: none !important; }

.inr-page-text p { font-size: 15px; color: #828993; line-height: 30px; margin-bottom: 30px; }
.inr-page-text .inr-page-title { color: var(--tertiary); font-size: 24px; line-height: 32px; margin-bottom: 24px;
  font-weight: bold; }
.inr-page-text .inr-page-title:after { content: none; }
.head-title { display: block; margin-bottom: 36px; }
.head-title h3 { display: inline-block; margin: 0 0 15px; position: relative; font-size: 28px; color: var(--primary);
    font-weight: bold; padding-left: 85px; }
.head-title h3:after { content: ""; background-color: var(--tertiary); width: 45px; height: 3px; position: absolute;
    color: var(--primary); top: 50%; transform: translate(0, -50%); left: 0; }



/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 9999; overflow: hidden; background: #fff; }
#preloader:before { content: ""; position: fixed; top: calc(50% - 30px); left: calc(50% - 30px); border: 6px solid var(--primary); border-top-color: #d1e6f9; border-radius: 50%; width: 60px; height: 60px; -webkit-animation: animate-preloader 1s linear infinite; animation: animate-preloader 1s linear infinite; }
@-webkit-keyframes animate-preloader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes animate-preloader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top { position: fixed; display: none; right: 15px; bottom: 15px; z-index: 999; }
.back-to-top i { display: flex; align-items: center; justify-content: center; font-size: 24px; width: 40px; height: 40px; border-radius: 50px; background: var(--primary); color: #fff; transition: all 0.1s; }
.back-to-top i:hover { background: var(--secondary); color: #fff; }
.datepicker-dropdown { padding: 20px !important; }


/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar { background: var(--primary); height: 40px; font-size: 14px; transition: all 0.5s; }
#topbar.topbar-scrolled { top: -40px; }
#topbar .contact-info a { line-height: 1; color: #fff; transition: 0.3s; }
#topbar .contact-info a:hover { color: var(--secondary); }
#topbar .contact-info i { color: var(--secondary); padding-right: 0; margin-right: 10px; font-size: 14px; }
#topbar .contact-info i:first-child { margin-left: 0; }
#topbar .social-links a { color: #437099; padding-left: 15px; display: inline-block; line-height: 1px; transition: 0.3s; }
#topbar .social-links a:hover { color: var(--primary); }
#topbar .social-links a:first-child { border-left: 0; }
.contact-info ul { margin: 0; padding: 0; list-style: none; display: flex; align-items: center; }
.contact-info ul li { margin-right: 60px; color: #fff; display: flex; align-items: center; font-size: 12px; }
.contact-info ul li img { margin-right: 10px; }





/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header { background: #fff; transition: all 0.5s; z-index: 997; top: 40px; box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1); border-bottom: 1px solid #EAECEF; }
#header.header-scrolled { top: 0; position: fixed; left: 0; right: 0; width: 100%; }
.header-logo { padding: 10px 0; }
.header-logo-inr { display: flex; align-items: center; justify-content: space-between; }
#header .border-top { border-color: #EAECEF !important; }
.other-logo a img { margin-right: 30px; max-height: 50px; }
#header .logo { font-size: 32px; margin: 0; padding: 0; line-height: 1; font-weight: 700; letter-spacing: 0.5px; font-family: "Poppins", sans-serif; }
#header .logo a { color: #2c4964; }
#header .logo img { height: 70px; transition: 0.4s all; }
.header-scrolled .header-logo img.img-fluid { height: 60px !important; }
.header-scrolled .header-logo .other-logo img { height: 50px; }
.header-scrolled .header-logo { padding: 10px 0; }
.search-social { display: flex; align-items: center; }
.search-social .social-head ul { margin: 0; padding: 0; display: flex; align-items: center; }
.search-social .social-head ul li { list-style: none; margin-right: 5px; }
.search-social .social-head ul li a { border: 1px solid #828993; color: #828993; height: 30px; width: 30px; display: flex; align-items: center; justify-content: center; border-radius: 50%; font-size: 16px; transition: 0.4s all; }
.search-social .social-head ul.log-icons-funcs { margin-left: 10px; padding-left: 15px; border-left: 1px solid #828993; }
.search-social .social-head ul.log-icons-funcs a { border: none; padding: 0; background: transparent !important; position: relative; cursor: pointer; }
.search-social .social-head ul li.log-icons-funcs-logout a { height: auto; width: auto; line-height: 1; color: #828993; }
.search-social .social-head ul li.log-icons-funcs-logout a:hover { color: #5c5f64; }
.search-social .social-head ul li.log-icons-funcs-logout p { margin: 0; }
.countcart { z-index: 9; }
.search-social .social-head ul.log-icons-funcs a img { opacity: 0.5; width: 28px; }
.search-social .social-head ul.log-icons-funcs a:hover img { opacity: 0.6; }
.search-social .social-head ul li a:hover { background: #828993; color: #fff; }
.search-box { position: relative; }
.search-box .search-input { background-color: #F1F3F7; border: none; border-radius: 32px; font-size: 12px; min-height: 40px; width: 340px; padding: 10px 180px 10px 10px; outline: none; }
.search-box .search-icon { position: absolute; right: 155px; top: 50%; transform: translate(0, -50%); line-height: 1; }
.search-box .search-icon i { float: left; }
.search-box .dropdown.bootstrap-select { position: absolute; right: 0; width: 150px !important; height: 100%; }
.search-box .dropdown.bootstrap-select button { height: 100%; border-radius: 50px; }
.search-box .dropdown.bootstrap-select button::after { margin: 0 5px 0 0; }
.search-box .dropdown.bootstrap-select button .filter-option-inner-inner { text-align: right; }
/*.search-box { margin: 0; }*/



.social-head { margin-left: 20px; display: flex; }
::-webkit-input-placeholder { color: #C8CBD0; }
:-ms-input-placeholder { color: #C8CBD0; }
::placeholder { color: #C8CBD0; }
@media (max-width:992px) {
    #header { top: 0; }
    #header .logo { font-size: 28px; }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul { margin: 0; padding: 0; list-style: none; }
.nav-menu > ul { display: flex; }
.nav-menu > ul > li { position: relative; white-space: nowrap; padding: 0px 0 0px 20px; }
.nav-menu a { display: block; position: relative; color: #636B78; transition: 0.3s; font-size: 14px; padding: 16px 2px; border-bottom: 3px solid #fff; }
.nav-menu a:hover, .nav-menu li:hover > a { color: var(--secondary) }
.nav-menu .active > a, .nav-menu .active > a:hover { color: var(--primary); border-color: var(--primary); }
.nav-menu .drop-down ul { display: block; position: absolute; right: 20px; top: calc(100% + 30px); z-index: 99; opacity: 0; visibility: hidden; padding: 30px 0; background: #fff; box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25); transition: 0.3s; min-width: 240px; text-align: right; border-bottom: 4px solid var(--tertiary); }
.nav-menu .drop-down:hover > ul { opacity: 1; top: 100%; visibility: visible; }
.nav-menu .drop-down li { min-width: 180px; position: relative; padding: 0 25px; }
.nav-menu .drop-down ul a { padding: 10px 0px; font-size: 12px; font-weight: 500; text-transform: none; color: #082744; border: none; border-bottom: 1px solid #EAECEF; }
.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a { color: var(--primary); }
.nav-menu .drop-down > a:after {  /*content: "\ea99";
      font-family: IcoFont;
      padding-left: 5px;*/
margin-right: 5px; }
.nav-menu .drop-down > ul li a:after { margin-left: 5px; margin-right: 0; }
.nav-menu .drop-down .drop-down ul { top: 0; right: calc(100% - 30px); }
.nav-menu .drop-down .drop-down:hover > ul { opacity: 1; top: 0; right: 100%; }
.nav-menu .drop-down .drop-down > a { padding-right: 20px; }
.nav-menu .drop-down .drop-down > a:after { content: "\e9af"; font-family: 'boxicons'; position: absolute; right: 2px; }
.nav-menu .drop-down .drop-down ul { padding: 15px 0; }
@media (max-width:1366px) {
    .nav-menu .drop-down .drop-down ul { left: -90%; }
    .nav-menu .drop-down .drop-down:hover > ul { left: -100%; }
    .nav-menu .drop-down .drop-down > a:after { content: "\e9af"; }
}

/* Mobile Navigation */
.mobile-nav-toggle { position: fixed; right: 15px; top: 17px; z-index: 9998; border: 0; background: none; font-size: 27px; transition: all 0.4s; outline: none !important; line-height: 1; cursor: pointer; text-align: right; }
.mobile-nav-toggle i { color: var(--primary); }
.mobile-nav { position: fixed; top: 55px; right: 15px; bottom: 15px; left: 15px; z-index: 9999; overflow-y: auto; background: #fff; transition: ease-in-out 0.2s; opacity: 0; visibility: hidden; border-radius: 10px; padding: 10px 0; }
.mobile-nav * { margin: 0; padding: 0; list-style: none; }
.mobile-nav a { display: block; position: relative; color: #2c4964; padding: 10px 20px; font-weight: 500; outline: none; }
.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a { color: var(--primary); text-decoration: none; }
.mobile-nav .drop-down > a:after { content: "\e9af"; font-family: 'boxicons'; padding-left: 10px; position: absolute; right: 15px; }
.mobile-nav .active.drop-down > a:after { content: "\e9b9"; }
.mobile-nav .drop-down > a { padding-right: 35px; }
.mobile-nav .drop-down ul { display: none; overflow: hidden; }
.mobile-nav .drop-down li { padding-left: 20px; }
.mobile-nav-overly { width: 100%; height: 100%; z-index: 9997; top: 0; left: 0; position: fixed; background: rgba(28, 47, 65, 0.6); overflow: hidden; display: none; transition: ease-in-out 0.2s; }
.mobile-nav-active { overflow: hidden; }
.mobile-nav-active .mobile-nav { opacity: 1; visibility: visible; }
.mobile-nav-active .mobile-nav-toggle i { color: #fff; }




/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer { color: #ffffff; font-size: 12px; background: #393939; }
#footer .footer-top { padding: 75px 0 75px 0; background: #444444;  /*box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);*/ }
#footer .footer-top .footer-map iframe { width: 100%; height: 100%; }
#footer .footer-top .footer-contact { margin-bottom: 30px; }
#footer .footer-top .footer-contact h4 { font-size: 22px; margin: 0 0 30px 0; padding: 2px 0 2px 0; line-height: 1; font-weight: 700; }
#footer .footer-top .footer-contact p { font-size: 14px; line-height: 24px; margin-bottom: 0; color: #777777; }
#footer .footer-top h4 { font-size: 16px; font-weight: bold; color: #444444; position: relative; padding-bottom: 12px; }
#footer .footer-top .footer-links { margin-bottom: 15px; }
#footer .footer-top .footer-links ul { list-style: none; padding: 0; margin: 0; }
#footer .footer-top .footer-links ul i { padding-right: 2px; color: var(--secondary); font-size: 18px; line-height: 1; }
#footer .footer-top .footer-links ul li { padding: 10px 0; display: flex; align-items: center; }
#footer .footer-top .footer-links ul li:first-child { padding-top: 0; }
#footer .footer-top .footer-links ul a { color: #C8CBD0; transition: 0.3s; display: inline-block; line-height: 1; font-size: 14px; }
#footer .footer-top .footer-links ul a:hover { text-decoration: none; color: var(--primary); }
#footer .footer-newsletter { font-size: 15px; }
#footer .footer-newsletter h4 { font-size: 16px; font-weight: bold; color: #444444; position: relative; padding-bottom: 12px; }
#footer .footer-newsletter form { margin-top: 30px; background: #fff; padding: 6px 10px; position: relative; border-radius: 50px; text-align: left; border: 1px solid #bfdcf7; }
#footer .footer-newsletter form input[type="email"] { border: 0; padding: 4px 8px; width: calc(100% - 100px); }
#footer .footer-newsletter form input[type="submit"] { position: absolute; top: 0; right: 0; bottom: 0; border: 0; background: none; font-size: 16px; padding: 0 20px; background: var(--primary); color: #fff; transition: 0.3s; border-radius: 50px; }
#footer .footer-newsletter form input[type="submit"]:hover { background: var(--secondary); }
#footer .credits { padding-top: 5px; font-size: 13px; color: #444444; }
#footer .social-links a { font-size: 18px; display: inline-block; background: var(--primary); color: #fff; line-height: 1; padding: 8px 0; margin-right: 4px; border-radius: 50%; text-align: center; width: 36px; height: 36px; transition: 0.3s; }
#footer .social-links a:hover { background: var(--secondary); color: #fff; text-decoration: none; }
#footer .footer-top h4.footer-title { font-size: 14px; color: var(--tertiary); padding-bottom: 15px; margin-bottom: 33px; }
#footer .footer-top h4.footer-title:after { content: ""; width: 30px; height: 1px; background-color: var(--tertiary); position: absolute; right: 0; bottom: 0; border: none; }
.footer-address-inr span { font-size: 14px; color: #C8CBD0; margin-bottom: 13px; display: block; }
.footer-address-inr ul { padding: 0; list-style: none; margin-bottom: 18px; }
.footer-address-inr ul li { color: #828993; margin-bottom: 6px; display: flex; align-items: center; font-size: 14px; }
.footer-address-inr ul li i { color: #009970; width: 24px; min-height: 1px; }
.footer-address-inr ul li span { margin: 0; }
.copyright-links a { margin-right: 23px; color: #FFFFFF; }
.copyright-links a:hover { color: var(--tertiary); }





/*--------------------------------------------------------------
# Slider
--------------------------------------------------------------*/

.main-slider-slid { position: relative; }
.main-slider-slid .main-slider-content { position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex; align-items: center; }
.main-slider-content .side-text { color: #fff; padding-right: 70px; }
.main-slider-content .side-text > span { font-size: 22px; padding-bottom: 17px; margin-bottom: 15px; display: block; position: relative; font-family: 'Noto Naskh Arabic'; }
.main-slider-content .side-text span:after { content: ""; width: 60px; height: 1px; background: #fff; position: absolute; right: 0; bottom: 0; }
.main-slider-content .side-text h1 { padding: 0; /*height: 200px;*/ overflow: hidden; font-size: 38px; line-height: 65px; font-weight: bold; margin-bottom: 20px; }
.site-btn-secondry { padding: 15px 54px; display: inline-block; background-color: var(--secondary); color: #fff; border-radius: 30px; transition: 0.4s all; font-size: 16px; text-align: center; border: 0; }
.site-btn-secondry:hover { background-color: var(--primary); color: #fff; }
.site-btn-primary { padding: 15px 54px; display: inline-block; background-color: var(--primary); color: #fff; border-radius: 30px; transition: 0.4s all; font-size: 16px; text-align: center; border: 0; }
.site-btn-primary:hover { background-color: var(--secondary); color: #fff; }
.main-slider-slid > img { width: 100%; }
.main-banner-inr .owl-nav { position: absolute; top: 50%; transform: translate(0, -50%); right: 8%; padding: 0 15px; margin: 0 auto; display: flex; flex-direction: column; align-items: flex-start; margin-top: -45px; }
.main-banner-inr .owl-nav button { background: var(--primary) !important; margin: 0 0 10px !important; width: 30px; height: 30px; border-radius: 50% !important; display: flex !important; align-items: center; justify-content: center; color: #fff !important; font-size: 20px !important; transition: 0.4s all; }
.main-banner-inr .owl-nav button:hover { background: var(--secondary) !important; }
.main-banner-inr .owl-dots { position: absolute; margin: 0 auto; padding: 0 15px; right: 8%; display: flex; top: 50%; transform: translate(0, 140px); }
.main-banner-inr.owl-theme .owl-dots .owl-dot { display: none; }
.main-banner-inr.owl-theme .owl-dots .owl-dot.active { display: inline-block; position: relative; }
.main-banner-inr.owl-theme .owl-dots .owl-dot.active:after { content: "/"; margin: 0 3px; color: #fff; }
.main-banner-inr.owl-theme .owl-dots .owl-dot.active:before { content: attr(data-total-slide); position: absolute; left: -7px; color: #fff; }
.main-banner-inr.owl-dots .owl-dot button { padding: 0; border: none; background-color: transparent; color: #fff; font-size: 14px; }
.main-banner-inr .owl-nav:after { content: ""; position: absolute; width: 1px; background: #fff; height: 125px; top: 50%; right: 30px; margin-top: 50px; opacity: 0.45; }
.main-banner-inr.owl-theme .owl-dots .owl-dot button { border: none; padding: 0; background: transparent; color: #fff; }



/*--------------------------------------------------------------
# testimonials section
--------------------------------------------------------------*/

.testimonials-sec { padding: 100px 0px; display: block; }
.testimonials { background: #F9FAFC; padding: 25px 30px 30px 30px; }
.testimonials-img { height: 64px; width: 64px; margin: 0 auto; border-radius: 50%; overflow: hidden;
    border: 4px solid #fff; margin-bottom: 7px; }
.testimonials-img img { height: 100%; width: auto; }
.testimonials-name { margin-bottom: 20px; }
.testimonials-name h5 { font-size: 13px; margin-bottom: 5px; color: var(--primary); }
.testimonials-name h6 { margin: 0; color: #828993; font-size: 13px; }
.testimonials-txt { height: 86px; overflow: hidden; }
.testimonials-txt p { color: #636B78; font-size: 15px; line-height: 30px; }
.quotes-img { margin-bottom: 5px; }
.quotes-img img { width: 32px !important; display: inline-block !important; }
.testimonials-slide .owl-nav { margin-top: 25px; display: flex; align-items: center; justify-content: center; }
.testimonials-slide .owl-nav button { margin: 0 5px !important; }

.testimonials-box { padding: 50px 30px 45px; border: 1px solid #EAECEF; }
.testimonials-box h4 { color: #00A19A; font-weight: bold; margin-bottom: 24px; }
.testimonials-box .testimonials-box-txt { height: 57px; overflow: hidden; margin-bottom: 25px; }
.testimonials-box-txt p { font-size: 15px; line-height: 30px; color: #636B78; }
.testimonials-box ul { margin: 0; padding: 0; list-style: none; display: flex; justify-content: center;
  margin-bottom: 30px; }
.testimonials-box ul li { margin-left: 18px; font-size: 15px; }
.testimonials-box ul li:last-child { margin-left: 0px; }

.testimonials-box ul li .primry-text label { color: var(--primary); }
.testimonials-box ul li .blue-text label { color: #1DA1F2; }
.testimonials-box ul li .secondry-text label { color: var(--secondary); }
.testimonials-box ul li .orange-text label { color: #BA5401; }
.testimonials-box ul li label { margin-bottom: 0; }


.custom-radio.form-check { padding: 0; }
.custom-radio.form-check input[type="radio"] { right: 0; }

.custom-radio label { position: relative; padding-right: 20px; font-family: 'Noto Naskh Arabic'; cursor: pointer; }
.custom-radio label:before { content: ""; width: 14px; height: 14px; border: 1px solid; position: absolute; right: 0;
    border-radius: 50%; top: 50%; transform: translate(0, -50%); }
.custom-radio label:after { content: ""; width: 8px; height: 8px; background-color: var(--primary); position: absolute;
    right: 3px; border-radius: 50%; top: 50%; transform: translate(0, -50%); opacity: 0; }
.custom-radio.blue-text label:after { background-color: #1DA1F2; }
.custom-radio.secondry-text label:after { background-color: var(--secondary); }
.custom-radio.orange-text label:after { background-color: #BA5401; }
.custom-radio input[type="radio"] { display: none; }
.custom-radio.form-check input[type="radio"]:checked + label:after { opacity: 1; }


/*--------------------------------------------------------------
# Regulations Page
--------------------------------------------------------------*/

.regulations-card { margin-bottom: 30px; }
.regulations-body { border: 1px solid #EAECEF; padding: 20px; display: flex; align-items: center; }
.regulations-body .regulations-icon { width: 86px; height: 86px; display: flex; align-items: center;
    justify-content: center; border-radius: 50%; background: #F1F3F7; }
.regulations-body .regulations-ttl { width: calc(100% - 86px); padding-right: 15px; }
.regulations-body .regulations-ttl h5 { margin: 0; font-size: 15px; line-height: 25px; color: #636B78;
    font-weight: bold; }
.regulations-footer { display: flex; background: #F9FAFC; border: 1px solid #EAECEF; margin-top: -1px;
    text-align: center; justify-content: space-between; }
.regulations-download { width: 50%; padding: 24px 0; position: relative; font-size: 13px; color: #636B78; }
.regulations-download:after { content: ""; position: absolute; left: 0; top: 50%; transform: translate(0, -50%);
    background: #EAECEF; height: 30px; width: 1px; }
.regulations-search { width: 50%; padding: 24px 0; font-size: 13px; color: #636B78; }
.regulations-search svg, .regulations-download svg { margin-left: 7px; }
.regulations-search:hover { color: var(--secondary); }
.regulations-search:hover path { fill: var(--secondary); }
.regulations-download:hover { color: var(--primary); }
.regulations-download:hover path { fill: var(--primary); }

.regulations-body.regulations-body2 { flex-direction: column; }
.regulations-body.regulations-body2 .regulations-icon { margin-bottom: 13px; }
.regulations-body.regulations-body2 .regulations-ttl { width: 100%; padding: 0; text-align: center; }
.regulations-body .regulations-icon img { max-width: 100%; max-height: 100%; }
.regulations-body.regulations-body2 .regulations-icon2 { background: transparent; max-width: 100%; width: auto; }




/*--------------------------------------------------------------
# Contact section
--------------------------------------------------------------*/

.contact-btn { width: 100%; text-align: center; border-radius: 0; }
.contact-form .form-control { font-size: 15px; border: none; background: #fff; padding: 15px 20px; height: auto; border-radius: .25rem; }
.contact-icon { display: block; margin-bottom: 36px; }
.select-que .bootstrap-select { width: 100% !important; max-width: 400px; }
.select-que .bootstrap-select > button { padding: 14px 15px; background: #fff; border: none; }
.select-que .bootstrap-select > .dropdown-menu { margin-top: 10px; border-radius: 10px; border: none;
  padding-right: 5px; transform: translate3d(0px, 44px, 0px) !important; }
.select-que .bootstrap-select .dropdown-menu.inner { max-height: 125px; padding: 0px 5px 0px 0; }
.select-que .bootstrap-select .dropdown-item.active, .dropdown-item:active { outline: none;
  background-color: var(--secondary); }
.select-que .bootstrap-select .dropdown-toggle .filter-option { text-align: right; }
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
  outline: none !important }
.bootstrap-select.open .dropdown-menu { display: inline-block; top: 0; left: 0; }
/* scrollbar width */
.select-que .bootstrap-select .dropdown-menu ::-webkit-scrollbar { width: 8px; }
/* scrollbar Track */
.select-que .bootstrap-select .dropdown-menu ::-webkit-scrollbar-track { background: #f1f1f1; }
/* scrollbar Handle */
.select-que .bootstrap-select .dropdown-menu ::-webkit-scrollbar-thumb { background: #ccc; border-radius: 30px; }
/* scrollbar Handle on hover */
.select-que .bootstrap-select .dropdown-menu ::-webkit-scrollbar-thumb:hover { background: #555; }




/*--------------------------------------------------------------
# program section
--------------------------------------------------------------*/

.program-box { background: #fff; }
.program-box-img, .program-box-img { width: 100%; }
.program-box-img img { width: 100%; }
.program-box .program-box-txt { padding: 35px 30px 45px; }
.program-box-txt h5 { font-size: 24px; line-height: 40px; color: #636B78; font-weight: bold; margin-bottom: 29px; }
.program-box-txt .program-desc { height: 86px; overflow: hidden; margin-bottom: 20px; }
.program-box-txt .program-desc p { font-size: 15px; line-height: 30px; color: #828993; }
.program-box hr { border-color: #EAECEF; }
.prog-proces { margin-top: 20px; margin-bottom: 30px; }
.prog-proces label { margin-bottom: 9px; font-size: 12px; color: #636B78; font-weight: bold; }

.prog-proces-inr { position: relative; padding-top: 35px; }
.prog-proces-inr .prog-proces-main { width: 100%; height: 8px; background: #F1F3F7; border-radius: 5px;
  position: relative; }
.prog-proces-inr .prog-proces-main span { position: absolute; height: 100%; right: 0; background-color: var(--secondry);
    border-radius: 0 5px 5px 0; }
.prog-proces-inr > span { position: absolute; top: 0; line-height: 21px; font-size: 10px;
  background-color: var(--primary); border-radius: 9px; color: #fff; padding: 0 8px; transform: translate(50%, 0); }
.prog-proces-inr > span:after { content: ""; width: 0; height: 0; border-left: 6px solid transparent;
    border-right: 6px solid transparent; border-top: 7px solid var(--primary); position: absolute; top: 100%;
    left: 0; right: 0; text-align: center; margin: 0 auto; }
.prog-proces-inr .prog-proces-main label { position: absolute; width: 1px; height: 11px; background: var(--secondry);
    top: 50%; transform: translate(50%, -50%); }
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span { background: var(--primary); }
.owl-theme .owl-dots .owl-dot { margin: 0px 5px; }
.owl-theme .owl-dots .owl-dot span { background: #EAECEF; margin: 0; width: 15px; height: 15px; }
.owl-theme .owl-dots { margin-top: 30px !important; }

.slde-count { position: absolute; top: -8px; line-height: 21px; font-size: 10px; background-color: var(--primary); border-radius: 9px; color: #fff; padding: 0 8px; transform: translate(50%, 0); }
.slde-count:after { content: ""; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 7px solid var(--primary); position: absolute; top: 100%; left: 0; right: 0; text-align: center; margin: 0 auto; }
.addincrem input { border: 1px solid #e7e7e7; border-radius: 3px; }


.project-desc * { font-weight: 400; font-size: 15px; line-height: 30px; color: #828993; margin: 0 !important; }
.projects.projects-sec-home { padding: 80px 0; }


.footer-address-inr ul li a { color: #C8CBD0; transition: 0.3s; display: inline-block; font-size: 14px; }
.footer-address-inr ul li a:hover { text-decoration: none; color: var(--primary); }


.main-slider-slid { height: 590px; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.main-slider-slid img { max-width: none; width: auto !important; min-height: 100%; min-width: 100%; }






@media (min-width: 1600px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl { padding-right: 15px; padding-left: 15px; }
}



@media (min-width: 1200px) {

  .container, .container-lg, .container-md, .container-sm, .container-xl { max-width: 1170px; }

}

@media only screen and (min-width: 992px) and (max-width: 1300px) {

.main-banner-inr .owl-nav { right: 0; }
.owl-theme .owl-dots { right: 0; transform: translate(0, 115px); }

}


@media only screen and (max-width: 991px) {

body { margin-top: 122px; }

.search-social { width: 100%; padding: 10px 0; justify-content: center; }
#header .logo img { height: 40px; }
.other-logo a img { max-height: 35px; margin-right: 15px; }
.header-logo { padding: 10px 0; }
.header-scrolled .header-logo img.img-fluid { height: 40px !important; }
.header-logo-inr { padding-right: 50px; }
.mobile-nav .drop-down > a:after { border: none; }

/*.main-slider-slid > img { height: 400px; width: auto !important; max-width: none; }*/
.main-slider-slid { display: flex; align-items: center; overflow: hidden; justify-content: center; }
.main-slider-content .side-text h1 { height: 130px; font-size: 28px; line-height: 44px;
  text-shadow: 0 0 10px rgb(0 0 0 / 50%); }
.main-slider-content .side-text > span { font-size: 18px; text-shadow: 0 0 10px rgb(0 0 0 / 50%); }
.main-slider-content .side-text { padding-right: 50px; }
.main-banner-inr .owl-nav { right: 0; margin-top: -20px; }
.main-banner-inr .owl-dots { right: 0; transform: translate(0, 75px); }
.main-banner-inr .owl-nav:after { height: 35px; }
section.section { padding: 60px 0; }

.main-slider-slid { height: 300px; }


}

@media only screen and (min-width: 768px) and (max-width: 991px) {

.search-box .search-input { width: 300px; }
.news-slider { margin-bottom: 60px; }
.testimonials-slide { margin-bottom: 60px; }
.photo-video-sec { padding: 0; }
.photo-part { margin-bottom: 60px; }
.proud-count ul { flex-wrap: wrap; padding: 20px 87px 30px; }
.proud-count ul li { width: 50%; padding: 30px 0; }
.contact-sec-info { margin-bottom: 60px; }
.footer-map { margin-bottom: 40px; }
#footer .footer-top .footer-map iframe { height: 250px; }

.about-img { margin: 0 0 30px; }



}


@media only screen and (max-width: 767px) {

.head-title h3 { font-size: 22px; }
.proud-count ul { flex-wrap: wrap; }
.proud-count ul li { width: 100%; margin: 20px 0; }
.news-slider { margin-bottom: 60px; }
.testimonials-box ul { flex-wrap: wrap; }
.testimonials-box ul li { margin: 10px 9px; }
.testimonials-box { padding: 50px 20px 45px; }
.testimonials-slide { margin-bottom: 60px; }
.section.photo-video-sec { padding: 0; }
.photo-part .photo-part-title { line-height: normal; padding: 15px; }
.video-part .video-part-title { line-height: normal; padding: 15px; }
.photo-part { margin-bottom: 60px; }
.footer-links, .footer-address { margin-top: 30px; }

.video-pop .video-pop-btn img { width: 50px; }
#footer > .container { flex-direction: column-reverse; display: flex; }
#footer .container .copyright-links { padding-top: 0 !important; padding-bottom: 1rem; }
#footer .footer-top { padding: 40px 0 20px; }

.news-page.news-three .news-box-img { margin: 0 0 30px; }

.post-title h1 { font-size: 30px; line-height: 45px; }
.post-quote { padding: 30px 40px 30px 40px; }
.post-quote:after { left: 15px; top: 5px; }
.next-prev-post { flex-wrap: wrap; }
.next-prev-post .prev-post, .next-prev-post .next-post { width: 100%; margin: 10px 0; }
.next-prev-post .next-post a { padding: 30px 35px 30px 50px; width: 100%; }
.next-prev-post .prev-post a { padding: 30px 50px 30px 35px; width: 100%; }



.timeline-nodes:nth-child(odd) { justify-content: flex-start !important; }

.timeline::before { left: 0; }
.timeline-nodes:nth-child(odd) .timeline-dot::before { left: 15px; top: -80px; }
.timeline-nodes:nth-child(even) .timeline-dot::before { left: 15px; top: -80px; }
.timeline-nodes:nth-child(odd) .timeline-date { text-align: left; right: 0; margin-bottom: 30px; padding: 0; }
.timeline-nodes:nth-child(even) .timeline-date { left: 0; margin-bottom: 30px; padding: 0; }

.timeline-nodes:nth-child(even) .timeline-content::before { right: calc(100% + 3px); border-right: 10px solid #d0d0d0;
    border-left: 0; }
.timeline-nodes:nth-child(even) .timeline-content::after { right: calc(100% + 0px); border-right: 10px solid #fff;
    border-left: 0; }
.timeline { padding-right: 20px; }
.timeline-nodes:nth-child(odd) .timeline-date time::after { border-right: 10px solid var(--primary);
  border-left: none; right: 100%; }



}

@media only screen and (max-width: 480px) {

.search-social { flex-direction: column-reverse; }
.social-head { margin: 0; }
.search-box { width: 100%; margin-bottom: 15px; }
.search-box .search-input { width: 100%; }

body { margin-top: 167px; }
.main-slider-slid img { min-width: auto; }

}





