.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

ul,
li {
    list-style: none;
}

/*  */

body {
    direction: rtl;
    font-family: "Regular";
    font-size: 16px;
    text-align: right;
    color: var(--foreground);
}

.btn-primary {
    font-family: "Bold";
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background);
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 144px;
    height: 48px;
}

.btn-secondary {
    font-family: "Bold";
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background-color: var(--background);
    border: 1px solid var(--primary);
    border-radius: 5px;
    width: 100%;
    max-width: 144px;
    height: 48px;
}

.btn-secondary:hover {
    color: var(--background);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary.focus,
.btn-secondary:focus {
    color: var(--background);
    background-color: var(--primary);
    border-color: var(--primary);
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: var(--background);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-select {
    font-size: 14px;
    font-family: "Medium";
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background-color: var(--background);
    border: 1px solid var(--primary);
    border-radius: 5px;
    width: 100%;
    max-width: 100px;
    height: 36px;

}

.primary{
    color: var(--primary);
}

.secondary{
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

.secondary:hover {
    color: var(--background);
    background-color: var(--secondary);
    border-color: var(--secondary);
}

h1 {
    font-size: 1.875rem;
    font-family: "Medium";
}

h1::after {
    content: "";
    border-bottom: 5px solid var(--primary);
    display: flex;
    width: 38px;
    border-radius: 20px;
    margin-top: 10px;
}

h2 {
    font-size: 1.5rem;
    font-family: "Medium";
}

h3{
    font-size: 30px;
    font-family: "Light";
}

h3 span{
    font-family: "Medium";
}

h4 {
    font-size: 1.25rem;
    font-family: "Medium";
}

h4::after {
    content: "";
    border-bottom: 2px solid var(--secondary);
    display: flex;
    width: 38px;
    border-radius: 20px;
    margin-top: 10px;
}

h5 {
    font-size: 3.75rem;
}

.tertiary-bg {
    background-color: var(--tertiary);
}

/*  */

.nav {
    background-color: var(--primary);
    height: 48px;
    z-index: 1040;
}

.nav .social-media.icons img {
    width: 100%;
    height: 100%;
    max-width: 18px;
    max-height: 18px;
}

.nav .right a {
    color: white;
}

.nav .right a {
    color: rgba(255, 255, 255, 0.87)
}

.nav .right a img {
    padding-left: 10px;
}

.nav .right a:hover {
    color: white;
}

.nav .nav-link {
    display: flex;
    align-items: center;
}

.nav .row {
    height: 100%;
    margin: 0;
}

.social-media.icons .nav-link {
    padding: 0;
    padding-right: 16px;
}

/*  */

.navbar {
    height: 100px;
    padding: 0;
    top: 48px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.10);
}

.navbar .navbar-brand {
    justify-content: flex-start;
    display: flex;
    flex: 1;
    margin-right: 0px;
}

.navbar .navbar-brand img {
    height: 100%;
    max-height: 90px;
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.navbar .row {
    width: 100%;
    margin: 0;
}

.navbar-links .nav-link {
    padding: 0;
    padding-right: 16px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--foreground);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--foreground);
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: var(--primary);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--primary);
}

a.nav-link {
    font-family: "Medium";
}

.navbar .navbar-collapse {
    justify-content: space-between;
    flex: 3;
}

.navbar-nav {
    padding-right: 0;
    margin-right: 0px !important;
    flex: 2;
    display: flex;
    justify-content: space-around;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

/*  */

.header {
    margin-top: 148px;
    max-height: 50vh;
}

.carousel-inner {
    height: 50vh;
}

.carousel .carousel-item img {
    height: 50vh;
    object-fit: cover;
    object-position: center;
}

.carousel-indicators li {
    box-sizing: inherit;
    width: 14px;
    height: 14px;
    background-color: var(--background);
    border-top: none;
    border-bottom: none;
    border-radius: 50px;
    margin-right: 5px;
    margin-left: 5px;
}

.carousel-indicators {
    justify-content: flex-end;
    margin-bottom: 30px;
    margin-left: 11%;
}

.carousel-caption {
    right: 11%;
    top: 30%;
    color: var(--background);
    text-align: right;
}

.carousel-item .overlay {
    position: absolute;
    height: 50vh;
    width: 100%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.27);
}

.carousel-item h5 {
    margin-bottom: 24px;
}

/*  */

.donations-projects {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 72px;
}

.donations-projects h1 {
    margin-bottom: 60px;
}

.donations-projects p {
    margin-bottom: 0px;
}

.donations-projects .card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    box-shadow: 0px 5px 10px #0000000D;
    border-radius: 5px;
    padding-top: 36px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.donations-projects .card img {
    height: 72px;
    max-width: 72px;
    margin-bottom: 18px;
}

.donations-projects .card h2 {
    margin-bottom: 10px;
}

.donations-projects .card .btn-secondary {
    display: none;
    margin-top: 20px;
}

.donations-projects .card:hover .btn-secondary {
    display: flex;
}

/*  */

.projects {
    padding-top: 100px;
    padding-bottom: 72px;
}

.projects h1 {
    margin-bottom: 60px;
}

.projects .card {
    display: flex;
    flex-direction: column;
}

.projects .card .project-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

/*  */

.testimonial {
    padding-top: 100px;
    padding-bottom: 128px;
    background-image: url('../assets/img/testimonial-bg.svg');
    background-repeat: no-repeat;
    background-position-y: center;
}

.testimonial h1 {
    margin-bottom: 60px;
}

.testimonial .card {
    border: none;
    box-shadow: 0px 5px 10px #0000000D;
    border-radius: 5px;
    padding: 24px;
    padding-bottom: 30px;
}

.testimonial h1 {
    margin-bottom: 60px;
}

.testimonial .card .user-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 60px;
    margin-bottom: 16px;
}

/*  */

.footer {
    background-color: var(--dark);
    color: var(--background);
    padding-top: 60px;
    background-image: url('../assets/img/footer-bg.svg');
    background-position: left bottom;
    background-repeat: no-repeat;
}

footer .footer-links {
    padding-bottom: 72px;
}

footer .footer-links a {
    color: var(--background);
}

footer .footer-links ul {
    padding-right: 0px;
}

footer .footer-links li {
    padding-bottom: 5px;
    padding-top: 5px;
}

footer .payment-logos img {
    max-height: 50px;
    max-width: 90px;
}

footer .footer-links .contact,
footer .footer-links .payment-logos ul {
    margin-top: 24px;
}

footer .footer-links .payment-logos ul {
    align-items: center;
}

.icons img {
    margin-left: 16px;
}

footer .footer-copyright {
    height: 48px;
    background-color: var(--foreground);
    width: 100%;
}

/* Projects Page */

.projects-header input.search {
    width: 100%;
    border: none;
    border-radius: 50px;
    min-height: 48px;
    padding-right: 24px;
}

.projects-header form {
    width: 100%;
    border: none;
    border-radius: 50px;
    min-height: 48px;
    margin-top: 36px;
    box-shadow: 0px 5px 10px #0000000D;
    padding-right: 24px;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-header form select {
    border: none;
}

.projects-header form select:focus {
    outline: none;
}

.projects-header input.search:focus {
    outline: none;
}

.projects-header {
    background-image:  linear-gradient(rgba(0,0,0,0.54), rgba(0,0,0,0.54)),url('../assets/img/carousel-2.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    color: var(--background);
    flex-direction: column;
}

.projects .card {
    border: none;
    box-shadow: 0px 5px 10px #0000000D;
    border-radius: 5px;
    margin-bottom: 30px;
}

.projects .card-content {
    padding: 16px;
    padding-top: 18px;
    padding-bottom: 30px;
}

.projects .card .card-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.projects .card .icon {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.projects .card input#famount {
    height: 48px;
    padding-right: 14px;
    width: 100%;
    max-width: 144px;
    border: 1px solid var(--light);
}

.projects .card input#famount:focus {
    outline-color: var(--primary);
}

.projects .card h2 {
    margin-left: 16px;
}

.projects .add-cart {
    margin-top: 24px;
}

.projects .btn {
    padding: 0;
}

.projects button.btn.focus,
.projects button.btn:focus {
    outline: 0;
    box-shadow: none;
    background-color: var(--primary);
    color: var(--background);
}

.projects button.btn:hover {
    background-color: var(--primary);
    color: var(--background);
}

.projects .progress {
    height: 7px;
    width: 100%;
}

.projects .progress {
    background-color: var(--light);
}

.projects .progress-bar {
    background-color: var(--primary);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.projects .progress-payment {
    width: 100%;
    padding-bottom: 2px;
}

.projects .pagination-buttons {
    margin-top: 42px;
}

.projects .pagination-buttons ul {
    display: flex;
    padding-right: 0px;
}

.pagination-buttons li a {
    min-width: 36px;
    min-height: 37.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 18px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 14px;
    padding-left: 14px;
}

.pagination-buttons li.ng-scope.active a {
    color: var(--background);
    background-color: var(--primary);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.10);
}

/* Cart Page */

.cart-header {
    background-image:  linear-gradient(rgba(0,0,0,0.54), rgba(0,0,0,0.54)),url('../assets/img/cart-header.jpg');
    background-size: cover;
    height: 50vh;
    color: var(--background);
    flex-direction: column;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    direction: rtl;
    text-align: right;
    padding: 8px;
}

.cart {
    padding-top: 100px;
    padding-bottom: 128px;
}

.cart table {
    background-color: var(--background);
    box-shadow: 0px 5px 10px #0000000D;
}

.table-number {
    text-align: center;
}

.cart tr {
    border-bottom: 1px solid var(--light);
    height: 60px;
}

.cart .table-number {
    color: var(--secondary);
}

.cart .card{
    box-shadow: 0px 5px 10px #0000000D;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 48px;
    border: none;
    height: 170px;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
}

/*  */

.account-header {
    background-image: linear-gradient(rgba(0,0,0,0.54), rgba(0,0,0,0.54)),url('../assets/img/account.jpg');
    background-size: cover;
    height: 50vh;
    color: var(--background);
    flex-direction: column;
}

.account{
    padding-top: 100px;
    padding-bottom: 128px;
}

.account .cd-tabs {
    background-color: var(--background);
    box-shadow: 0px 5px 10px #0000000D;
}

.cd-tabs__panels td, .cd-tabs__panels th{
    border: 1px solid #eee;
}
.cd-tabs__panels th{
    color: var(--secondary);
}

.tab-account table{
margin-top: 36px;
}

.cd-tabs__panels .tab-edit input {
    width: auto;
    max-width: 75%;
    height: 48px;
}

.cd-tabs__panels .tab-edit .flex{
margin-bottom: 24px;
}

.cd-tabs__panels .tab-edit .flex label{
    font-family: "Bold";
    width: auto;
    color: var(--secondary);
}

.cd-tabs__panels li h2{
    display: none;
}

.cd-tabs__panels li h3{
margin-top: 36px;
margin-bottom: 24px;
font-size: 1.5rem;
font-family: "Medium";
}

.cd-tabs__panels .table-number{
    color: var(--secondary);
}



.projects .card.cardhover { overflow: hidden; }
.projects .card.cardhover .imghover { max-height: 200px; overflow: hidden; }
.projects .card.cardhover .imghover .card-image { transition: 0.4s all; }
.projects .card.cardhover:hover .imghover .card-image { transform: rotate(-8deg) scale(1.2); }

.projects .card.cardhover { transition: 0.4s; }
.projects .card.cardhover:hover {
transform: translate(0, -10px) scale(1.1);
box-shadow: 0px 5px 30px hsl(0deg 0% 0% / 20%);
position: relative;
z-index: 9;
}

.tagboxsele { margin-bottom: 15px; }
.tagboxsele button { margin-left: 8px; font-size: 12px; padding: 5px 0px !important; height: auto; }
.tagboxsele button:last-child { margin: 0; }
.addincrem { margin-top: 15px; display: flex; justify-content: flex-end; align-items: center; }
.addincrem input { float: left; width: 100%; max-width: 50px; text-align: center; border: none; }
.addincrem .btninde {
background-color: #efefef;
border-radius: 5px;
padding: 2px 0;
margin-left: 10px;
}
.addincrem .btninde button { padding: 0 10px; border: none; background: transparent; font-size: 20px; border-right: 1px solid #dcdcdc;
line-height: 1; }
.addincrem .btninde button:first-child { border: 0; }
.clsfamount input { text-align: center; max-width: 100px; margin-left: 10px; border: 1px solid #ddd; border-radius: 3px; padding: 11px 10px; }


.addincrem input::-webkit-outer-spin-button,
.addincrem input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
.addincrem input[type=number] { -moz-appearance: textfield; }


.cart-page { padding: 100px 0; background: #FAFAFA; }
h3.cart-head { font-size: 18px; }
h3.cart-head img { width: 20px; }
.removefromcart { padding: 0; border: none; background: transparent; }
.removefromcart img { width: 25px; }
.cart-page .table td { vertical-align: middle; }
.total-price { display: flex; justify-content: space-between; text-align: center; }
.total-price h3 { font-size: 24px; font-weight: 600; border-bottom: 1px solid #000; margin-bottom: 15px; padding-bottom: 15px; }
.paymnt-btn-inr button { border: 1px solid #707070; background: #C1C8CE; display: flex; flex-direction: column; align-items: center; padding: 0px 10px 5px 10px; margin: 0 5px;
    font-size: 18px; font-weight: 500; }
.paymnt-btn-inr { display: flex; }
.cart-page .card { border: none !important; box-shadow: 0 3px 10px rgba(0,0,0,0.16); }
.cart-page p { margin: 0; }

.contact-page { padding: 80px 0; }
.contact-page .card-head { border-bottom: 1px solid #000; margin-bottom: 15px; padding-bottom: 15px; }
.contact-page .card { border: none !important; box-shadow: 0 3px 10px rgba(0,0,0,0.16); }
.shadow-right { position: relative; box-shadow: 9px 0px 10px -12px rgba(0,0,0,0.4); }
/*.shadow-right:after { content: ""; height: 100%; right: 0; top: 0; width: 1px; position: absolute; box-shadow: 0 3px 10px rgba(0,0,0,0.6); background: rgba(0,0,0,0.02); }*/
.contct-info { padding: 20px; }
.contct-info h3 { text-align: center; font-size: 24px; font-weight: 600; text-decoration: underline; margin-bottom: 30px; }
.contct-info .form-control { border: 1px solid #707070; border-radius: 0; }
.contct-info .contact-box { position: relative; }
.contct-info .contact-box .input-group-append { position: absolute; right: 0; top: 0; bottom: 0; background: #0984e3; width: 40px; display: flex;
    align-items: center; justify-content: center; border: 1px solid #707070; }
.contct-info .contact-box .form-control { padding-right: 50px; }
.contct-info .contact-textarea .form-control { height: 150px; }
.contact-btn { justify-content: flex-end; }
.contact-btn button { border: 1px solid #707070; background: #0984e3; color: #fff; padding: 6px 20px; }
.contact-map-inr { text-align: center; }
.contact-map-inr iframe { max-width: 300px; height: 200px; width: 100%; }




@media only screen and (max-width: 767px) {
.shadow-right { box-shadow: none; }
}




