.cd-tabs select.form-control::-ms-expand {
    display: none
}

.cd-tabs textarea {
    resize: vertical;
    overflow: auto;
    vertical-align: top
}

.cd-tabs input::-ms-clear {
    display: none
}

.cd-tabs table {
    border-collapse: collapse;
    border-spacing: 0
}


.cd-tabs .grid {
    --grid-gap: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.cd-tabs .grid>* {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%
}

.cd-tabs .text-component ul {
    list-style-type: disc
}

.cd-tabs .text-component ol {
    list-style-type: decimal
}

.cd-tabs .text-component figcaption {
    text-align: center;
    margin-top: 0.5em;
}

.text-component>*:first-child {
    margin-top: 0
}

.text-component>*:last-child {
    margin-bottom: 0
}

.text-component__block--full-width {
    width: 100vw;
    margin-left: calc(50% - 50vw)
}

@media (min-width: 48rem) {

    .text-component__block--left,
    .text-component__block--right {
        width: 45%
    }

    .text-component__block--left img,
    .text-component__block--right img {
        width: 100%
    }

    .text-component__block--left {
        float: left;
        margin-right: 0.75em;
        margin-right: calc(var(--space-sm)*var(--text-vspace-multiplier, 1))
    }

    .text-component__block--right {
        float: right;
        margin-left: 0.75em;
        margin-left: calc(var(--space-sm)*var(--text-vspace-multiplier, 1))
    }
}

@media (min-width: 90rem) {
    .text-component__block--outset {
        width: calc(100% + 10.5em);
        width: calc(100% + 2*var(--space-xxl))
    }

    .text-component__block--outset img {
        width: 100%
    }

    .text-component__block--outset:not(.text-component__block--right) {
        margin-left: -5.25em;
        margin-left: calc(-1*var(--space-xxl))
    }

    .text-component__block--left,
    .text-component__block--right {
        width: 50%
    }

    .text-component__block--right.text-component__block--outset {
        margin-right: -5.25em;
        margin-right: calc(-1*var(--space-xxl))
    }
}

.cd-tabs .icon {
    display: inline-block;
    color: inherit;
    fill: currentColor;
    height: 1em;
    width: 1em;
    line-height: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.cd-tabs .icon--is-spinning {
    -webkit-animation: icon-spin 1s infinite linear;
    animation: icon-spin 1s infinite linear
}

@-webkit-keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.cd-tabs .icon use {
    color: inherit;
    fill: currentColor
}

.cd-tabs .btn {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1;
    font-size: 1em;
    font-size: var(--btn-font-size, 1em);
    padding-top: 0.5em;
    padding-top: var(--btn-padding-y, 0.5em);
    padding-bottom: 0.5em;
    padding-bottom: var(--btn-padding-y, 0.5em);
    padding-left: 0.75em;
    padding-left: var(--btn-padding-x, 0.75em);
    padding-right: 0.75em;
    padding-right: var(--btn-padding-x, 0.75em);
    border-radius: 0.25em;
    border-radius: var(--btn-radius, 0.25em)
}

.form-control::-webkit-input-placeholder {
    color: hsl(240, 1%, 48%);
    color: var(--color-contrast-medium, #79797c)
}

.form-control::-moz-placeholder {
    opacity: 1;
    color: hsl(240, 1%, 48%);
    color: var(--color-contrast-medium, #79797c)
}

.form-control:-ms-input-placeholder {
    color: hsl(240, 1%, 48%);
    color: var(--color-contrast-medium, #79797c)
}

.form-control:-moz-placeholder {
    color: hsl(240, 1%, 48%);
    color: var(--color-contrast-medium, #79797c)
}

.form-control[disabled],
.form-control[readonly] {
    cursor: not-allowed
}

.form-legend {
    color: hsl(240, 8%, 12%);
    color: var(--color-contrast-higher, #1c1c21);
    line-height: 1.2;
    font-size: 1.2em;
    font-size: var(--text-md, 1.2em);
    margin-bottom: 0.375em;
    margin-bottom: var(--space-xxs)
}

.form-label {
    display: inline-block
}

.form__msg-error {
    background-color: hsl(355, 90%, 61%);
    background-color: var(--color-error, #f54251);
    color: hsl(0, 0%, 100%);
    color: var(--color-white, #fff);
    font-size: 0.83333em;
    font-size: var(--text-sm, 0.833em);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0.5em;
    padding: var(--space-xs);
    margin-top: 0.75em;
    margin-top: var(--space-sm);
    border-radius: 0.25em;
    border-radius: var(--radius-md, 0.25em);
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px)
}

.form__msg-error::before {
    content: '';
    position: absolute;
    left: 0.75em;
    left: var(--space-sm);
    top: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: hsl(355, 90%, 61%);
    border-bottom-color: var(--color-error)
}

.form__msg-error--is-visible {
    position: relative;
    clip: auto
}


.is-visible {
    display: block !important;
    display: var(--display) !important
}

.is-hidden {
    display: none !important
}

.sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    border: 0;
    white-space: nowrap
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.media-wrapper {
    position: relative;
    height: 0;
    padding-bottom: 56.25%
}

.media-wrapper iframe,
.media-wrapper video,
.media-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.media-wrapper video,
.media-wrapper img {
    -o-object-fit: cover;
    object-fit: cover
}

.media-wrapper--4\:3 {
    padding-bottom: 75%
}


mark {
    background-color: hsla(355, 90%, 61%, 0.2);
    background-color: hsla(var(--color-accent-h), var(--color-accent-s), var(--color-accent-l), 0.2);
    color: inherit
}

.text-component {
    --line-height-multiplier: 1;
    --text-vspace-multiplier: 1
}

.text-component blockquote {
    padding-left: 1em;
    border-left: 4px solid hsl(240, 1%, 83%);
    border-left: 4px solid var(--color-contrast-low)
}

.text-component hr {
    background: hsl(240, 1%, 83%);
    background: var(--color-contrast-low);
    height: 1px
}

.text-component figcaption {
    font-size: 0.83333em;
    font-size: var(--text-sm);
    color: hsl(240, 1%, 48%);
    color: var(--color-contrast-medium)
}

.article.text-component {
    --line-height-multiplier: 1.13;
    --text-vspace-multiplier: 1.2
}


.btn--accent {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.btn--disabled {
    opacity: 0.6
}

.form-control {
    border: 2px solid hsl(240, 1%, 83%);
    border: 2px solid var(--color-contrast-low)
}

.form-control:focus {
    outline: none;
    border-color: hsl(220, 90%, 56%);
    border-color: var(--color-primary);
    --color-shadow: hsla(220, 90%, 56%, 0.2);
    --color-shadow: hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.2);
    box-shadow: undefined;
    box-shadow: 0 0 0 3px var(--color-shadow)
}

.form-control:focus:focus {
    box-shadow: 0 0 0 3px hsla(220, 90%, 56%, 0.2);
    box-shadow: 0 0 0 3px var(--color-shadow)
}

.form-control[aria-invalid="true"] {
    border-color: hsl(355, 90%, 61%);
    border-color: var(--color-error)
}

.form-control[aria-invalid="true"]:focus {
    --color-shadow: hsla(355, 90%, 61%, 0.2);
    --color-shadow: hsla(var(--color-error-h), var(--color-error-s), var(--color-error-l), 0.2);
    box-shadow: undefined;
    box-shadow: 0 0 0 3px var(--color-shadow)
}

.form-control[aria-invalid="true"]:focus:focus {
    box-shadow: 0 0 0 3px hsla(355, 90%, 61%, 0.2);
    box-shadow: 0 0 0 3px var(--color-shadow)
}

.form-label {
    font-size: 0.83333em;
    font-size: var(--text-sm)
}

.cd-article-link {
    color: hsl(225, 31%, 52.9%);
    color: hsl(var(--cd-color-1-h), var(--cd-color-1-s), calc(var(--cd-color-1-l)*2.3));
    font-size: 0.83333em;
    font-size: var(--text-sm)
}

.cd-tabs {
    position: relative
}

@media (min-width: 48rem) {
    .cd-tabs {
        display: -ms-flexbox;
        display: flex
    }
}

@media (min-width: 64rem) {
    .cd-tabs {
        display: block
    }
}

@supports (background: linear-gradient(to left, #000, #000)) {
    .cd-tabs::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 60px;
        width: 50px;
        z-index: 1;
        pointer-events: none;
        background: linear-gradient(to left, hsl(54, 42%, 95%), hsla(54, 42%, 95%, 0));
        background: linear-gradient(to left, var(--cd-color-2), hsla(var(--cd-color-2-h), var(--cd-color-2-s), var(--cd-color-2-l), 0));
        visibility: visible;
        opacity: 1;
        transition: opacity .3s 0s, visibility 0s 0s
    }

    @media (min-width: 48rem) {
        .cd-tabs::after {
            display: none
        }
    }

    .cd-tabs--scroll-ended::after {
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s 0s, visibility 0s .3s
    }
}

.cd-tabs__navigation {
    background: hsl(54, 42%, 95%);
    background: var(--cd-color-2);
    --cd-color-shadow: hsla(54, 42%, 64.6%, 0.06);
    --cd-color-shadow: hsla(var(--cd-color-2-h), var(--cd-color-2-s), calc(var(--cd-color-2-l)*0.68), 0.06);
    box-shadow: inset 0 -2px 3px hsla(54, 42%, 64.6%, 0.06);
    box-shadow: inset 0 -2px 3px var(--cd-color-shadow)
}

@media (min-width: 48rem) {
    .cd-tabs__navigation {
        width: 80px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        box-shadow: inset -2px 0 3px hsla(54, 42%, 64.6%, 0.06);
        box-shadow: inset -2px 0 3px var(--cd-color-shadow)
    }
}

@media (min-width: 64rem) {
    .cd-tabs__navigation {
        display: -ms-flexbox;
        display: flex;
        width: auto;
        background: transparent;
        box-shadow: none
    }
}

.cd-tabs__list {
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-right: 0px;
}

.cd-tabs__list li {
    -ms-flex-negative: 0;
    flex-shrink: 0
}

@media (min-width: 48rem) {
    .cd-tabs__list {
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media (min-width: 64rem) {
    .cd-tabs__list {
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-direction: row;
        flex-direction: row;
        background-color: hsl(54, 42%, 95%);
        background-color: var(--cd-color-2);
        --cd-color-shadow: hsla(54, 42%, 64.6%, 0.06);
        --cd-color-shadow: hsla(var(--cd-color-2-h), var(--cd-color-2-s), calc(var(--cd-color-2-l)*0.68), 0.06);
        box-shadow: inset 0 -2px 3px hsla(54, 42%, 64.6%, 0.06);
        box-shadow: inset 0 -2px 3px var(--cd-color-shadow);
        box-shadow: inset 0 -2px 3px hsla(54, 42%, 64.6%, 0.06);
        box-shadow: inset 0 -2px 3px var(--cd-color-shadow)
    }
}

.cd-tabs__item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    width: 60px;
    font-size: 0.76388em;
    font-size: calc(var(--text-xs)*1.1);
    font-weight: 700;
    color: hsl(54, 8%, 75%);
    color: var(--cd-color-3);
    text-decoration: none
}

.cd-tabs__item:hover {
    color: hsl(225, 31%, 23%);
    color: var(--cd-color-1);
    background-color: hsla(54, 42%, 84.55%, 0.3);
    background-color: hsla(var(--cd-color-2-h), var(--cd-color-2-s), calc(var(--cd-color-2-l)*0.89), 0.3)
}

.cd-tabs__item .icon {
    margin-bottom: 0.25em;
    margin-bottom: var(--space-xxxs);
    color: inherit
}

@media (min-width: 48rem) {
    .cd-tabs__item {
        height: 80px;
        width: 80px
    }
}

@media (min-width: 64rem) {
    .cd-tabs__item {
        height: 60px;
        width: auto;
        padding: 0 2em;
        padding: 0 var(--space-lg);
        -ms-flex-direction: row;
        flex-direction: row
    }

    .cd-tabs__item .icon {
        margin-bottom: 0;
        margin-right: 0.375em;
        margin-right: var(--space-xxs)
    }
}

.js .cd-tabs__item--selected {
    background-color: hsl(0, 0%, 100%);
    background-color: var(--background);
    box-shadow: inset 0 2px 0 hsl(1, 84%, 63%);
    box-shadow: inset 0 2px 0 var(--cd-color-4);
    color: hsl(225, 31%, 23%);
    color: var(--primary)
}

.js .cd-tabs__item--selected:hover {
    background-color: hsl(0, 0%, 100%);
    background-color: var(--background)
}

.js .cd-tabs__item--selected .icon {
    color: hsl(1, 84%, 63%);
    color: var(--cd-color-4)
}

@media (min-width: 48rem) {
    .js .cd-tabs__item--selected {
        box-shadow: inset 2px 0 0 hsl(1, 84%, 63%);
        box-shadow: inset 2px 0 0 var(--cd-color-4)
    }
}

@media (min-width: 64rem) {
    .js .cd-tabs__item--selected {
        box-shadow: inset 0 2px 0 hsl(1, 84%, 63%);
        box-shadow: inset 0 2px 0 var(--cd-color-4)
    }
}

.cd-tabs__panels {
    background: hsl(0, 0%, 100%);
    background: var(--background);
    overflow: hidden;
    padding-right: 0px;
}

.cd-tabs__panel {
    padding: 1.25em;
    padding: var(--space-md);
    --line-height-multiplier: 1.14;
    --text-vspace-multiplier: 1.25
}

.cd-tabs__panel p {
    color: hsl(225, 31%, 63.02%);
    color: hsl(var(--cd-color-1-h), var(--cd-color-1-s), calc(var(--cd-color-1-l)*2.74))
}

@media (min-width: 48rem) {
    .cd-tabs__panel {
        padding: 2em;
        padding: var(--space-lg)
    }
}

@media (min-width: 64rem) {
    .cd-tabs__panel p {
        font-size: 0.83333em;
        font-size: var(--text-sm)
    }
}

.js .cd-tabs__panel {
    display: none
}

.js .cd-tabs__panel--selected {
    display: block;
    -webkit-animation: cd-fade-in 0.5s;
    animation: cd-fade-in 0.5s
}

/*  */

.cd-article-link {
    color: lightness(var(--cd-color-1), 2.3);
    font-size: var(--text-sm);
}

.cd-tabs {
    position: relative;
}

.cd-tabs::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 50px;
    z-index: 1;
    pointer-events: none;
    background: linear-gradient(to left, var(--cd-color-2), alpha(var(--cd-color-2), 0));
    visibility: visible;
    opacity: 1;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-tabs--scroll-ended::after {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-tabs__navigation {
    background: var(--cd-color-2);
    --cd-color-shadow: hsla(var(--cd-color-2-h), var(--cd-color-2-s), calc(var(--cd-color-2-l)*0.68), 0.06);
    box-shadow: inset 0 -2px 3px var(--cd-color-shadow);
}

.cd-tabs__list {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    background-color: var(--tertiary);
}

.cd-tabs__list li {
    flex-shrink: 0;
    display: flex;
    flex: 1;
    justify-content: center;
}

.cd-tabs__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    font-weight: 700;
    text-decoration: none;
    background-color: #f6f8fc;
    width: 100%;
}

.cd-tabs__item:hover {
    color: var(--cd-color-1);
    background-color: var(--background);
}

.js .cd-tabs__item--selected {
    background-color: var(--background);
    box-shadow: inset 0 2px 0 var(--cd-color-4);
    color: var(--primary);
}

.cd-tabs__panels {
    background: var(--background);
    overflow: hidden;
}

.cd-tabs__panel {
    padding: var(--space-md);
    --line-height-multiplier: 1.14;
    --text-vspace-multiplier: 1.25;
}

.js .cd-tabs__panel {
    display: none;
}

.js .cd-tabs__panel--selected {
    display: block;
    animation: cd-fade-in 0.5s;
}

@keyframes cd-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.cd-tabs__item {
    flex-direction: row;
}

.cd-tabs__item svg {
    width: 24px;
    height: 24px;
    margin-left: 16px;
}

.cd-tabs__item--selected svg {
    fill: var(--primary)
}

@media (max-width: 768px) {
    .cd-tabs__item span {
        display: none;
    }

    .cd-tabs__item svg {
        width: 20px;
        height: 20px;
        margin-left: 0px;
    }
}

.account-tab-panel {
    border: 1px solid var(--secondary);
    width: 30%;
    text-align: center;
    padding-top: 36px;
    padding-bottom: 36px;
}

.account-tab-panel h5 {
    font-size: 20px;
    font-family: "Bold";
    color: var(--secondary);
}

.account-tab-panel h6 {
    font-size: 48px;
    font-family: "Light";

}

.js .cd-tabs__panel {
    padding: 48px 36px 60px 36px;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    tbody tr {
        /* position: absolute;
		top: -9999px;
		left: -9999px; */
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-right: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        right: 6px;
        width: 45%;
        white-space: nowrap;
        font-family: "Bold";
    }

    /*
	Label the data
	*/
    td:nth-of-type(1):before {
        content: "رقم العملية";
    }

    td:nth-of-type(2):before {
        content: "الحالة";
    }

    td:nth-of-type(3):before {
        content: "مبلغ التبرع";
    }

    td:nth-of-type(4):before {
        content: "طريقة التبرع";
    }

    td:nth-of-type(5):before {
        content: "التاريخ";
    }

    td:nth-of-type(6):before {
        content: "إيصال التبرع";
    }

    .table-header {
        display: none;
    }

   .cd-tabs__panels table tr{
    margin-bottom: 30px;
}
.table.whith-respo thead {
    display: none;
}
.cart-page .table.whith-respo td {
    padding-right: 50%;
    text-align: left !important;
}
.cart-page .table.whith-respo td:before { text-align: right !important;    padding-right: 5px;top: 50%;
    transform: translate(0, -50%); }
.cart-page .table.whith-respo input.form-control.quantity {    background: transparent;

    text-align: left;
    padding: 0;
}


}

.cd-tabs__panels .tab-edit input {
    padding: 10px 15px;
    border: 1px solid;
}