@font-face {
        font-family: "ExtraLight";
        src: url(../assets/fonts/Tajawal-ExtraLight.ttf);
}

@font-face {
        font-family: "Light";
        src: url(../assets/fonts/Tajawal-Light.ttf);
}

@font-face {
        font-family: "Regular";
        src: url(../assets/fonts/Tajawal-Regular.ttf);
}

@font-face {
        font-family: "Medium";
        src: url(../assets/fonts/Tajawal-Medium.ttf);
}

@font-face {
        font-family: "Bold";
        src: url(../assets/fonts/Tajawal-Bold.ttf);
}

@font-face {
        font-family: "ExtraBold";
        src: url(../assets/fonts/Tajawal-ExtraBold.ttf);
}

@font-face {
        font-family: "Black";
        src: url(../assets/fonts/Tajawal-Black.ttf);
}

/*  */

:root {
        --primary: #0984E3;
        --secondary: #00B140;
        --tertiary: #F6F8FC;
        --light: #B2D8F6;
        --foreground: black;
        --background: white;
        --dark: #242424;
}

/*  */

