
@font-face {
    font-family: 'STC Forward Medium';
    font-weight: 700;
    src: url('STC Forward Bold.woff');
  }
  @font-face {
    font-family: 'STC Forward Medium';
    font-weight: 400;
    src: url('STC Forward Regular.woff');
  }

